@model JsPlc.Ssc.PetrolPricing.Models.SiteViewModel
@using JsPlc.Ssc.PetrolPricing.Models.Enums
<div class="col-md-12">
    <fieldset>
        <legend>Price Match</legend>
    </fieldset>

    <label class="col-md-1">Strategy:</label>
    <div class="col-md-3">
        <select id="PriceMatchType" name="PriceMatchType" class="form-control">
            <option value="@((int)PriceMatchType.StandardPrice)" @(Model.PriceMatchType == PriceMatchType.StandardPrice ? "selected='selected'" : "")>Standard Price</option>
            <option value="@((int)PriceMatchType.TrailPrice)" @(Model.PriceMatchType == PriceMatchType.TrailPrice ? "selected='selected'" : "")>Trial Price</option>
            <option value="@((int)PriceMatchType.MatchCompetitorPrice)" @(Model.PriceMatchType == PriceMatchType.MatchCompetitorPrice ? "selected='selected'" : "")>Match Competitor</option>
        </select>
    </div>

    <div id="divTrialPrice" class="form-group" style="@(Model.PriceMatchType == PriceMatchType.TrailPrice ? "" : "display: none;")">
        @Html.LabelFor(model => model.CompetitorPriceOffset, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-3">
            <div class="input-group">
                @Html.EditorFor(model => model.CompetitorPriceOffset, new { htmlAttributes = new { @class = "form-control", @maxlength = "8", onkeydown = "return ValidateNumber(event);" } })
                <div class="input-group-addon"><strong>P</strong></div>
            </div>
            @Html.ValidationMessageFor(model => model.CompetitorPriceOffset, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="divMatchCompetitor" style="@(Model.PriceMatchType == PriceMatchType.MatchCompetitorPrice ? "" : "display:none;")">

        @Html.LabelFor(model => model.TrailPriceCompetitorId, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-5">
            <input type="hidden" id="TrailPriceCompetitorId" name="TrailPriceCompetitorId" value="@(Model.TrailPriceCompetitorId)" />

            <select id="mnuTrailPriceCompetitorId" name="mnuTrailPriceCompetitorId" data-placeholder="Choose a Competitor Site" class="chosen-select" tabindex="-1" style="width:100%;">
                @foreach(var item in Model.Competitors)
                {
                    <option value="@(item.Id)" @(item.Id == Model.TrailPriceCompetitorId ? " selected='selected'" : "")>@(item.SiteName)</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.TrailPriceCompetitorId, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-12">&nbsp;</div>

        @Html.LabelFor(model => model.CompetitorPriceOffsetNew, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-4" })
        <div class="col-md-5">
            <div class="input-group">
                @Html.EditorFor(model => model.CompetitorPriceOffsetNew, new { htmlAttributes = new { @class = "form-control", @maxlength = "8" } })
                <div class="input-group-addon"><strong>P</strong></div>
            </div>
            @Html.ValidationMessageFor(model => model.CompetitorPriceOffsetNew, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
