@model IEnumerable<JsPlc.Ssc.PetrolPricing.Models.Site>
@using JsPlc.Ssc.PetrolPricing.Models
@using JsPlc.Ssc.PetrolPricing.Models.Enums

<style>
    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 80px;
            /*text-align: left;*/
        }

    tbody {
        height: 500px;
        overflow-y: auto;
    }

    thead {
        /* fallback */
    }
        tbody td, thead th {
            width: 10.5%;
            float: left;
        }

.site-grid > thead > tr > th {background-color: #eee; border-left: 1px solid #fff;}


    .site-inactive {
        color: #999;
        font-style: italic;
    }

    .table > tbody > tr.has-missing-data:nth-last-of-type(odd) {
        color: #a94442;
        background-color: #f2dede;
        border-bottom: 1px solid #fff;
    }
    .has-missing-data {
        color: #a94442;
        background-color: #f2dede;
        border-bottom: 1px solid #fff;
    }
</style>

<table class="table table-striped header-fixed site-grid" style="margin-bottom: 0;">
    <thead>
        <tr>
            <th>Price</th>
            <th>
                @Html.DisplayNameFor(model => model.CatNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PfsNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
                <br />
                (@Html.DisplayNameFor(model => model.Company))
                <br />
                (@Html.DisplayNameFor(model => model.Brand))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
                <br />
                @Html.DisplayNameFor(model => model.Suburb)
                <br />
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ownership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th style="width: 10em;">
            </th>
        </tr>

        @*@if (Model != null && Model.Any() == false)
        {
        <tr>
            <td colspan="8" class="text-center" style="font-size: 125%">
                Sorry, No results found
            </td>
        </tr>
        }*@
    </thead>

    </table>

<table class="table table-striped header-fixed site-grid" id="SiteListTable">
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                var isActive = item.IsActive;
                var priceMatchType = item.PriceMatchType;
                var isMatchCompetitor = priceMatchType == (int)PriceMatchType.MatchCompetitorPrice;
                var isTrialPrice = priceMatchType == (int)PriceMatchType.TrailPrice;
                var isStandardPrice = priceMatchType == (int)PriceMatchType.StandardPrice;
                var hasEmails = item.Emails != null && item.Emails.Any();
                var hasMissingCatNo = !item.CatNo.HasValue || item.CatNo == 0;
                var hasMissingStoreNo = !item.StoreNo.HasValue || item.StoreNo == 0;

                var rowClasses = (isActive ? "site-active" : "site-inactive")
                    + (isTrialPrice ? " site-trial-price" : "")
                    + (isMatchCompetitor ? " site-match-competitor" : "")
                    + (isStandardPrice ? " site-standard-price" : "")
                    + (hasEmails ? " has-emails" : " no-email")
                    + (hasMissingCatNo || hasMissingStoreNo ? " has-missing-data" : " has-complete-data");

                <tr class="@(rowClasses)">
                    <td class="text-center">
                        @if (isMatchCompetitor)
                        {
                            <span class="match-competitor-price" data-infotip="[b]Match Competitor[/b]"><i class="fa fa-clone"></i> match</span>
                        }
                        @if (isTrialPrice)
                        {
                            <span class="trial-price" data-infotip="[b]Trial Price"><i class="fa fa-flask"></i> Trial</span>
                        }
                        @if (isStandardPrice)
                        {
                            <span class="standard-price" data-infotip="[b]Standard[/b] Price (not Match Competitor or Trial Price)"><i class="fa fa-dot-circle-o"></i> Standard</span>
                        }
                    </td>

                    <td class="filterable-cell text-center">
                        @if (hasMissingCatNo)
                        {
                            <span class="text-danger" data-infotip="Missing [b]CatNo[/b][br /]This prevents pricing"><i class="fa fa-warning"></i></span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.CatNo)
                        }
                    </td>
                    <td class="filterable-cell text-center">
                        @if (hasMissingStoreNo)
                        {
                            <span class="text-danger" data-infotip="Missing [b]StoreNo[/b][br /]This prevents pricing"><i class="fa fa-warning"></i></span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.StoreNo)
                        }
                    </td>
                    <td class="filterable-cell text-center">
                        @Html.DisplayFor(modelItem => item.PfsNo)
                    </td>
                    <td class="filterable-cell">
                        @Html.DisplayFor(modelItem => item.SiteName)
                        <br />
                        (@Html.DisplayFor(modelItem => item.Company))
                        <br />
                        (@Html.DisplayFor(modelItem => item.Brand))
                    </td>
                    <td class="filterable-cell">
                        @Html.DisplayFor(modelItem => item.Address)
                        <br />
                        @Html.DisplayFor(modelItem => item.Suburb)
                        <br />
                        @Html.DisplayFor(modelItem => item.Town)
                    </td>
                    <td class="filterable-cell">
                        @Html.DisplayFor(modelItem => item.PostCode)
                    </td>
                    <td class="filterable-cell">
                        @Html.DisplayFor(modelItem => item.Ownership)
                    </td>
                    <td class="filterable-cell text-center">
                        @if(item.IsActive)
                        {
                            <span class="text-success"><i class="fa fa-check"></i>&nbsp;Yes</span>
                        } else
                        {
                            <span class="text-danger"><i class="fa fa-times"></i>&nbsp;No</span>
                        }
                    </td>
                    <td class="filterable-cell text-center" style="width: 10em;">
                        <a class="btn btn-primary" href="@Url.Action("Details","Sites", new { id = item.Id})"><i class="fa fa-info"></i>&nbsp;Details</a>
                        <br /><br />
                        @if (item.Emails == null || !item.Emails.Any())
                        {
                            <span class="text-danger"><i class="fa fa-warning"></i>  No Emails...</span>
                        } else if (item.Emails != null && item.Emails.Any())
                        {
                            <span class="text-success"><i class="fa fa-check"></i> @item.Emails.Count() Emails</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
