@model IEnumerable<JsPlc.Ssc.PetrolPricing.Models.Site>

<table class="table small">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CatNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfsNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSainsburysSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CatNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suburb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PfsNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSainsburysSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @if (item.IsSainsburysSite)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            }
            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { onclick = "return true;" })
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { onclick = "return false;" })*@
        </td>
    </tr>
}

</table>
