@model IEnumerable<JsPlc.Ssc.PetrolPricing.Models.Site>
@{
    ViewBag.Title = "Sainsbury's sites";

    var activeSiteCount = 0;
    var inactiveSiteCount = 0;
    var totalSiteCount = 0;
    var trialPriceSiteCount = 0;
    var matchCompetitorSiteCount = 0;
    var soloSiteCount = 0;

    if (Model != null)
    {
        foreach (var site in Model)
        {
            if (site.IsActive)
            {
                activeSiteCount++;
            }
            else
            {
                inactiveSiteCount++;
            }

            if (site.TrailPriceCompetitorId.HasValue)
            {
                matchCompetitorSiteCount++;
            }
            else if (site.CompetitorPriceOffset != 0)
            {
                trialPriceSiteCount++;
            }
            else
            {
                soloSiteCount++;
            }

            totalSiteCount++;
        }
    }
}


<style>
    .match-competitor-price,
    .trial-price,
    .solo-price {
        color: #ccc;
    }

    .highlight-match-competitors .match-competitor-price {
        background-color: #cff;
        color: #000;
    }

    .highlight-trial-prices .trial-price {
        background-color: #ff8;
        color: #000;
    }

    .highlight-solo-prices .solo-price {
        background-color: #cfc;
        color: #000;
    }

    .table thead th:nth-child(1),
    .table tbody td:nth-child(1) {
        width: 6%;
    }

    .table thead th:nth-child(2),
    .table tbody td:nth-child(2) {
        width: 8%;
    }

    .table thead th:nth-child(3),
    .table tbody td:nth-child(3) {
        width: 8%;
    }

    .table thead th:nth-child(4),
    .table tbody td:nth-child(4) {
        width: 8%;
    }

    .table thead th:nth-child(5),
    .table tbody td:nth-child(5) {
        width: 16%;
    }

    .table thead th:nth-child(6),
    .table tbody td:nth-child(6) {
        width: 14%;
    }

    .table thead th:nth-child(7),
    .table tbody td:nth-child(7) {
        width: 8%;
    }

    .table thead th:nth-child(8),
    .table tbody td:nth-child(8) {
        width: 12%;
    }

    .table thead th:nth-child(9),
    .table tbody td:nth-child(9) {
        width: 6%;
    }

    .table thead th:nth-child(10),
    .table tbody td:nth-child(10) {
        width: 6%;
    }

    .table .match-competitor-price {
        display: block;
        font-variant: small-caps;
    }

    .table .solo-price {
        display: block;
        font-variant: small-caps;
    }

    .table .trial-price {
        display: block;
        font-variant: small-caps;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <h1><i class="fa fa-gear"></i> Sainsbury's sites</h1>
    </div>
    <div class="col-md-6 text-right" style="padding-top: 20px">
        <button type="button" onclick="location.href='@Url.Action("Create", "Sites" )'" class="btn btn-primary" data-infotip="Create a New Sainsbury's site'"><i class="fa fa-star"></i> New Sainsbury's site</button>
    </div>
</div>

<div style="display:none;" class="alert alert-warning busy-loader" data-bind="visible: $root.busyLoadingData()">
    <div class="col-md-1 text-center">
        <i class="fa fa-clock-o fa-2x spinner"></i>
    </div>
    <div class="col-md-10 text-center">
        <strong>Loading Site Maintenance information. Please wait...</strong>
    </div>
    <div class="clearfix"></div>
</div>

<div class="alert alert-info @(string.IsNullOrWhiteSpace(ViewBag.Message) ? "hidden" : "")">@ViewBag.Message</div>
<!-- Approx 300 Sainsbury's sites -->
<hr />
<div class="row">

    <!-- Catalist No -->
    <div class="col-md-2">
        <label for="viewingCatNo">Catalist no:</label>
        <input type="text" id="viewingCatNo" class="form-control"
               name="viewingCatNo" maxlength="9" data-bind="numeric, value: $root.CatNo" />
    </div>
    <!-- Store No -->
    <div class="col-md-2">
        <label for="viewingStoreNo">Store no:</label>
        <input type="text" id="viewingStoreNo" class="form-control"
               name="viewingStoreNo" maxlength="9" data-bind="numeric, value: $root.StoreNo" />
    </div>

    <!-- Store Name -->
    <div class="col-md-2">
        <label for="viewingStoreName">Store name:</label>
        <input type="text" id="viewingStoreName" class="form-control" maxlength="50"
               name="viewingStoreName" data-bind="value: $root.StoreName" />
    </div>
    <!-- Store Town -->
    <div class="col-md-2">
        <label for="viewingStoreTown">Town:</label>
        <input type="text" id="viewingStoreTown" class="form-control" maxlength="50"
               name="viewingStoreTown" data-bind="value: $root.StoreTown" />
    </div>

    <div class="col-md-1">
        <button id="btnGo" style="margin-top: 24px" type="button" id="btnGO" class="btn btn-success" data-bind="click: searchSainsburysStores">Go</button>
    </div>

    <div class="col-md-3">
        <button style="margin-top: 24px" type="button" class="btn btn-default" data-bind="click: function() { reloadSearchPage('Sites') }">Show all</button>
        <a href="@Url.Action("Index", "Sites")" style="margin-top: 24px;" class="btn btn-success pull-right" data-infotip="Clear the Search Criteria"><i class="fa fa-eraser"></i> Reset</a>
    </div>

</div>
<hr />
@if (Model != null)
{
    <div class="row">
        <div class="col-md-1">
            <strong>Highlighting:</strong>
        </div>
        <div class="col-md-5">
            <div class="btn-group">
                <button id="btnToggleHighlightTrialPriceSites" type="button" class="btn btn-sm btn-default" data-infotip="Toggle [b]Trial Price[/b] Sites Highlighting"><i class="fa fa-flask"></i> Trial Prices <span class="badge">@(trialPriceSiteCount)</span></button>
                <button id="btnToggleHighlightMatchCompetitors" type="button" class="btn btn-sm btn-default" data-infotip="Toggle [b]Match Competitor[/b] Highlighting"><i class="fa fa-clone"></i> Match Competitors <span class="badge">@(matchCompetitorSiteCount)</span> </button>
                <button id="btnToggleHighlightSoloPrices" type="button" class="btn btn-sm btn-default" data-infotip="Toggle [b]Solo Price[/b] Highlighting"><i class="fa fa-dot-circle-o"></i> Solo Prices <span class="badge">@(soloSiteCount)</span></button>
            </div>
            <button id="btnResetHighlighting" type="button" style="display: none;" class="btn btn-sm btn-danger" data-infotip="Remove [b]All[/b] Highlighting"><i class="fa fa-eraser"></i> Clear</button>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-4 text-right">
            <strong>Show:</strong>
            <button id="btnResetActiveSites" type="button" style="display: none;" class="btn btn-sm btn-danger" data-infotip="Show [b]All[/b] the Sites"><i class="fa fa-eraser "></i> Clear</button>
            <div class="btn-group">
                <button id="btnShowActiveSites" type="button" class="btn btn-sm btn-default" data-infotip="Show or Hide the [b]Active[/b] Sites"><i class="fa fa-square"></i> Active <span class="badge">@(activeSiteCount)</span></button>
                <button id="btnShowInActiveSites" type="button" class="btn btn-sm btn-default" data-infotip="Show or Hide the [b]In-active[/b] Sites"><i class="fa fa-square-o"></i> Inactive <span class="badge">@(inactiveSiteCount)</span></button>
            </div>
        </div>
    </div>
    <hr />

    <div style="display: none;" id="divNoResultsAlert" class="alert alert-info">
        <p class="text-center font125pc">
            There are 0 site matches. You could try to <span id="btnResetActiveFilters" class="btn btn-danger btn-sm" href="#"><i class="fa fa-eraser"></i> Clear</span> the filters or  change your search criteria, or, <a href="@Url.Action("Index", "Sites")" class="btn btn-success btn-sm"><i class="fa fa-eraser"></i> Reset</a> the Search Criteria.
        </p>
    </div>

    <div class="loading-js alert alert-info">
        <div class="row">
            <div class="col-md-1 text-center">
                <i class="fa fa-clock-o fa-2x spinner"></i>
            </div>
            <div class="col-md-11 text-center">
                <strong>Loading Site Maintenance information. Please wait...</strong>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="wait-for-js">
        @Html.Partial("_SiteList", Model)
    </div>
}

<input type="hidden" id="hdnActiveSitesCount" value="@(activeSiteCount)" />
<input type="hidden" id="hdnInactiveSitesCount" value="@(inactiveSiteCount)" />
<input type="hidden" id="hdnTrialSitesCount" value="@(trialPriceSiteCount)" />
<input type="hidden" id="hdnMatchCompetitorSitesCount" value="@(matchCompetitorSiteCount)" />
<input type="hidden" id="hdnSoloPriceSitesCount" value="@(soloSiteCount)" />

<script type="text/javascript">
    require(["SiteMaintenance"],
        function (sitemaintenance) { }
    );
</script>
