@using JsPlc.Ssc.PetrolPricing.Models
@using JsPlc.Ssc.PetrolPricing.Models.Enums
@model JsPlc.Ssc.PetrolPricing.Models.SiteViewModel

@{
    ViewBag.Title = "Site Prices";
}

<link href="~/Content/prices.css" rel="stylesheet" />
<link href="~/Scripts/App/EditInPlace/edit-in-place.css" rel="stylesheet" />

 @using (Html.BeginForm())
 {

<!-- knockout binds here -->
    <div id="petrolpricingpage" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">

        <h1>
            <i class="fa fa-gbp"></i> Market comparison and planner

            <span class="historical-banner font75pc" data-bind="visible: $root.ViewingHistorical">
                <i class="fa fa-clock-o"></i> <strong>Note:</strong> Viewing Historical Data
            </span>
        </h1>

        <hr />

        <!-- competitor notes popup -->
        @Html.Partial("~/Views/Sites/Pricing/_CompetitorNotePopup.cshtml", Model)
        <!-- end competitor notes popup within knockout -->

        <!-- Competitor Prices Popup -->
        @Html.Partial("~/Views/Sites/Pricing/_CompetitorPriceGridPopup.cshtml", Model)
        <!-- END Competitor Prices Popup -->

        <!-- Email ALL popup within knockout -->
        @Html.Partial("~/Views/Sites/Pricing/_EmailAllSitesPopup.cshtml", Model)
        <!-- END Email ALL popup within knockout -->

        <!-- Email popup within knockout -->
        @Html.Partial("~/Views/Sites/Pricing/_EmailSitePopup.cshtml", Model)
        <!-- End Email popup within knockout -->

        <!-- Submit disabled, all work done thru ajax calls -->
        <form id="myform" method="post" data-bind="submit: savePetrolPricingForm" xclass="input-group-sm" action="sites/PostPrices" onsubmit="return false;" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">
            <div class="row pricing-filters-row" onclick="IsSitePriceFormClicked=1;" style="width:1280px;">
                <!-- Date Picker -->
                <div class="col-md-1">
                    <label for="viewingDate">Date:</label> <button type="button" class="btn btn-xs btn-warning" data-bind="visible: $root.ViewingHistorical, click: $root.resetViewingDate" style="display: none;" data-infotip="View Today's Prices"><i class="fa fa-eraser"></i> Reset</button>
                    <input type="text" id="viewingDate" class="datepicker form-control" onmousedown="IsSitePriceFormClicked=1;" onclick="IsSitePriceFormClicked=1;"
                           style="width: 85px" name="viewingDate" maxlength="12"
                           data-bind="value: $root.InitDate" data-infotip="Enter a [b]Date[/b] to view" />
                </div>
                <!-- Store No -->
                <div class="col-md-1">
                    <label for="viewingStoreNo">Store No:</label>
                    <input type="text" id="viewingStoreNo" class="form-control" maxlength="9" style="width: 70px;"
                           name="viewingStoreNo" data-bind="numeric, value: $root.StoreNo" data-infotip="Enter a [b]Store No[/b]" />
                </div>
                <!-- Store Name -->
                <div class="col-md-2">
                    <label for="viewingStoreName">Store Name:</label>
                    <input type="text" id="viewingStoreName" class="form-control" maxlength="50"
                           name="viewingStoreName" data-bind="value: $root.StoreName" data-infotip="Enter a [b]Store Name[/b]" />
                </div>
                <!-- Store Town -->
                <div class="col-md-2">
                    <label for="viewingStoreTown">Store Town:</label>
                    <input type="text" id="viewingStoreTown" class="form-control" maxlength="50"
                           name="viewingStoreTown" data-bind="value: $root.StoreTown" data-infotip="Enter a [b]Store Town[/b]" />
                </div>
                <!-- Catalist No -->
                <div class="col-md-1" style="width: 100px;">
                    <label for="viewingCatNo">Catalist No:</label>
                    <input type="text" id="viewingCatNo" class="form-control" maxlength="9" style="width: 70px;"
                           name="viewingCatNo" data-bind="numeric, value: $root.CatNo" data-infotip="Enter a [b]Catalist No[/b]" />
                </div>
                <!-- go button -->
                <div class="col-md-1">
                    <label>&nbsp;</label><br />
                    <button type="button" id="btnGO" class="btn btn-success" data-bind="click: loadPageWithParams" data-infotip="Filter the Site Prices"><i class="fa fa-filter"></i> Go</button>
                </div>
                <!-- show all button -->
                <div class="col-md-1">
                    <label>&nbsp;</label><br />
                    <button type="button" class="btn btn-default" data-bind="click: function() { reloadSearchPage('Sites/Prices?date='+$root.InitDateInUsFormat()) }" data-infotip="Show All the Site Prices"><i class="fa fa-search"></i> Show all</button>
                </div>
                <!-- ExportToExcel button -->
                <div class="col-md-3 text-right last-col">
                    <label>&nbsp;</label>
                        <label class="button"></label>
                    <div>
                        <button type="button" style="margin-left:0px " class="btn btn-primary" id="btnExportAll" data-infotip="Export [b]All[/b] Sites"><i class="fa fa-download"></i> Export ALL</button>
                        <button type="button" style="margin-left:0px" class="btn btn-primary" id="btnExportSites" data-infotip="Export [b]Sainsbury's'[/b] Sites Only"><i class="fa fa-download"></i> Export JS Sites</button>
                    </div>
                </div>
            </div>
            <hr style="width:1280px;" />
            <div class="row">
                <div class="col-md-2">
                    <label>Price changes: </label>
                    <!-- ko if: !$root.priceChangeFilterDown() || !$root.priceChangeFilterNone() || !priceChangeFilterUp() -->
                    <button class="btn btn-warning btn-xs" style="margin-left: 2.5em" data-bind="click: resetPriceChangeFilters"><i class="fa fa-eraser"></i> Reset</button>
                    <!-- /ko -->
                    <br />
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm" data-bind="click: togglePriceChangeFilterDown, css: {'btn-primary': $root.priceChangeFilterDown()}" data-infotip="Toggle [b]Downward[/b] Price Changes"><i class="fa fa-arrow-down"></i> Down</button>
                        <button type="button" class="btn btn-sm" data-bind="click: togglePriceChangeFilterNone, css: {'btn-primary': $root.priceChangeFilterNone()}" data-infotip="Toggle [b]Non-moving[/b] Price Changes"><i class="fa fa-minus"></i> None</button>
                        <button type="button" class="btn btn-sm" data-bind="click: togglePriceChangeFilterUp, css: {'btn-primary': $root.priceChangeFilterUp()}" data-infotip="Toggle [b]Upward[/b] Price Changes"><i class="fa fa-arrow-up"></i> Up</button>
                    </div>
                </div>

                <div class="col-md-10">
                    <label>Excluded Brands</label><br />
                    @Html.ListBoxFor(model => model.ExcludeBrands, new MultiSelectList(Model.AllBrands), new { @data_placeholder = "Select Brands...", @class = "chosen-select", style = "width: 100%;", id = "lstbxexcludebrands" })
                </div>
            </div>
            <br />

            <div class="row" style="margin-bottom: 4px; padding-bottom: 4px;">
                <div class="col-md-3 col-md-offset-9">
                    <strong>Competitor Price Differences:</strong>
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-sm btn-primary" data-click="setExpandMode" data-mode="expanded" data-states="expanded,collapsed" data-target="#PriceDifferencePanel" data-message="Showing Bar Chart" data-infotip="Show the [b]Competitor Price Differences[/b] Bar Chart"><i class="fa fa-toggle-down"></i> Show</button>
                        <button type="button" class="btn btn-sm" data-click="setExpandMode" data-mode="collapsed" data-states="expanded,collapsed" data-target="#PriceDifferencePanel" data-message="Hiding Bar Chart" data-infotip="Hide the [b]Competitor Price Differences[/b] Bar Chart"><i class="fa fa-toggle-up"></i> Hide</button>
                    </div>
                </div>
            </div>

            <div id="PriceDifferencePanel" class="row font125pc">
                <div class="col-md-12" data-bind="with: dataModel, visible: !$root.dataLoading()" style="display: none;">
                    <div id="PriceDifferenceBarChart" data-bind="css: ('col-md-10 ' + $root.priceDiffBarChartFiltersCss() )"></div>
                </div>
            </div>

            <hr style="width:1280px;" />
            <div style="display: none" class="alert alert-danger" data-bind="visible: $root.HasValidationErrors() || $root.HasErrorMessage()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-8" style="padding-top: 2px"><strong><span id="msgError"></span></strong></div>
                <div class="clearfix"></div>
            </div>
            <div style="display: none" class="alert alert-warning" data-bind="visible: !$root.hasAnyFieldErrors() && !$root.HasValidationErrors() && $root.HasUnsavedChanges() && !$root.ViewingHistorical() && !$root.hasBadPriceChangeValue()">
                <div class="col-md-1 text-center"><i class="fa fa-question-circle fa-2x pulse-size"></i></div>
                <div class="col-md-10">
                    <strong>
                        You have unsaved changes. Would you like to save them?
                    </strong>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-success btn-block" data-bind="click: savePetrolPricingForm" data-infotip="Save the changes">
                        <i class="fa fa-check"></i> Yes
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div style="display: none" class="alert alert-success" data-bind="visible: $root.HasSuccessMessage()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-4" style="padding-top: 2px"><span id="msgSuccess"></span></div>
                <div class="clearfix"></div>
            </div>

            <div style="display: none;" class="alert alert-danger" data-bind="visible: $root.hasBadPriceChangeValue()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-10">
                    <strong>Please enter a valid value for the price change for <span id="msgFuelTypeError"></span>.</strong>
                </div>
                <div class="col-md-1 pull-right">
                    <span class="clickable btn btn-default" data-bind="click:closeWarningPanel" data-infotip="Close the warning message">
                        <i class="fa fa-close"></i> Close
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>

            <div style="display:none;" class="alert alert-danger" data-bind="visible: $root.hasAnyFieldErrors() && !$root.HasValidationErrors()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-10">
                    <strong>There are <span data-bind="text: fieldErrorCount()"></span> field errors. Please correct and retry.</strong>
                </div>
                <div class="col-md-1">
                    <button data-bind="click: $root.gotoFirstInvalidOverrideField" type="button" class="btn btn-danger" data-infotip="Go to first error"><i class="fa fa-chevron-right"></i> First</button>
                </div>

                <div class="clearfix"></div>
            </div>

            <div style="display:block;" class="alert alert-warning busy-loader" data-bind="visible: $root.busyLoadingData()">
                <div class="col-md-1 text-center"><i class="fa fa-clock-o fa-2x spinner"></i></div>
                <div class="col-md-10 text-center">
                    <strong>Loading Sales Pricing information. Please wait...</strong>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="table-responsive" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">
                <!-- highlighers -->
                <div class="row" style="margin-bottom: 4px; padding-bottom: 4px; border-bottom: 1px solid #ccc;">
                    <div class="col-md-2">
                        <strong>Price Highlighting:</strong>
                    </div>

                    <div class="col-md-8" data-bind="visible: !$root.busyLoadingData()" style="display: none;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightTrialPrices, css: {'btn-primary': $root.highlightTrialPrices()}" data-infotip="Toggle the [b]Trial Prices[/b] Highlighting"><i class="fa fa-flask "></i> Trial <span class="badge" data-bind="text: $root.TrialPricesCount"></span></button>
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightMatchCompetitors, css: {'btn-primary': $root.highlightMatchCompetitors()}" data-infotip="Toggle the [b]Match Competitors[/b] Highlighting"><i class="fa fa-clone"></i> Match Competitors <span class="badge" data-bind="text: $root.MatchCompetitorsCount"></span></button>
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightSoloPrices, css: {'btn-primary': $root.highlightSoloPrices()}" data-infotip="Toggle the [b]Solo Prices[/b] Highlighting"><i class="fa fa-dot-circle-o"></i> Solo <span class="badge" data-bind="text: $root.SoloPricesCount"></span></button>
                        </div>
                        &nbsp;
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightNoNearbyGrocerPrices, css: {'btn-primary': $root.highlightNoNearbyGrocerPrices() }" data-infotip="Toggle highlighting for Site Fuels[br /] with [b]No Nearby Grocers[/b]"><i class="fa fa-times"></i> No Grocers <span class="badge" data-bind="text: $root.NoNearbyGrocersCount"></span></button>
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightHasNearbyGrocerWithOutPrices, css: {'btn-primary': $root.highlightHasNearbyGrocerWithOutPrices() }" data-infotip="Toggle highlighting for Site Fuels[br /][b]with Nearby Grocers[/b] but [em]no[/em] Prices"><i class="fa fa-question"></i> No Prices <span class="badge" data-bind="text: $root.NearbyGrocersWithoutPricesCount"></span></button>
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightHasNearbyGrocerPrices, css: {'btn-primary': $root.highlightHasNearbyGrocerPrices() }" data-infotip="Toggle highlighting for Site Fuels[br /][b]with Nearby Grocers[/b] and [b]with Prices[/b]"><i class="fa fa-gbp"></i> With Prices <span class="badge" data-bind="text: $root.NearbyGrocersAndPricesCount"></span></button>
                        </div>
                        <button type="button" class="btn btn-sm btn-warning" data-bind="visible: $root.shouldShouldHighlightReset(), click: resetPriceHighlighting" data-infotip="Hide all the Highlighting"><i class="fa fa-eraser "></i></button>
                    </div>
                    <div class="col-md-8 text-center" data-bind="visible: $root.busyLoadingData()">
                        Loading prices...
                    </div>

                    <div class="col-md-2 col">
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-sm btn-primary" data-click="setExpandMode" data-mode="collapsed" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid collapsed" data-infotip-dock="below" data-infotip="Collapse the Pricing Grid"><i class="fa fa-toggle-up"></i> Collapse</button>
                            <button type="button" class="btn btn-sm" data-click="setExpandMode" data-mode="expanded" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid expanded" data-infotip-dock="below" data-infotip="Expand the Pricing Grid"><i class="fa fa-toggle-down"></i> Expand</button>
                        </div>
                    </div>
                </div>

                <!-- start grid header -->
                <table class="pricing-grid">
                    <thead>
                        <!-- second row -->
                        <tr>
                            <th class="col-header-competitor">#</th>
                            <th class="col-header-store-no">Store No.</th>
                            <th class="col-header-email">@@</th>
                            <th class="col-header-store-name">Store Name</th>
                            <th class="col-header-store-town">Store Town</th>
                            <th class="col-header-cat-no">Cat No.</th>
                            <th class="col-header-pfs-no">PFS No.</th>
                            <th class="col-header-unleaded" colspan="2">

                                <button type="button" class="btn btn-danger btn-xs" data-bind="visible: !$root.ViewingHistorical(), click: removeAllOverrideUnleaded" data-infotip="Remove all [b]Price Overrides[/b] for [b]Unleaded[/b]"><i class="fa fa-power-off"></i></button>
                                <span class="fuel-sign fuel-sign-unleaded"></span>


                                <!-- ko if: !$root.ViewingHistorical() -->
                                <div style="width: 80%; margin: 4px auto;">
                                    <div class="input-group">
                                        <span class="input-group-addon clickable text-bold" data-bind="text: changeType, click: toggleChangeType" data-infotip="Toggle between [b]+/-[/b] and [b]Override all[/b]"></span>
                                        <input id="txtOverrideUnleaded" type="text" class="form-control input-override" maxlength="8" data-bind="textInput: $root.unleadedOffset" data-infotip="Enter a value for the [b]Unleaded[/b] Override[br /][b]Note:[/b] this Overrides the [em]Tomorrow Price[/em]" />
                                        <span class="input-group-btn">
                                            <button id="btnGoOverrideUnleaded" type="button" class="btn btn-primary btn-go" data-bind="click: changePricePerLitreUnleaded" data-infotip="Update all the [b]Unleaded[/b] Prices">Go</button>
                                        </span>
                                    </div>
                                    <div style="display: none;" data-bind="visible: $root.hasUnleadedOverrideExceededLimits()" class="text-danger text-center override-exceeded-bubble"><i class="fa fa-warning"></i> <span data-bind="text: $root.unleadedExceedMessage()"></span></div>
                                </div>
                                <!-- /ko -->
                            </th>
                            <th class="col-header-diesel" colspan="2">
                                <button type="button" class="btn btn-danger btn-xs" data-bind="visible: !$root.ViewingHistorical(), click: removeAllOverrideDiesel" data-infotip="Remove all [b]Price Overrides[/b] for [b]Diesel[/b]"><i class="fa fa-power-off"></i></button>
                                <span class="fuel-sign fuel-sign-diesel"></span>

                                <!-- ko if: !$root.ViewingHistorical()-->
                                <div style="width: 80%; margin: 4px auto;">
                                    <div class="input-group">
                                        <span class="input-group-addon clickable text-bold" data-bind="text: changeType, click: toggleChangeType" data-infotip="Toggle between [b]+/-[/b] and [b]Override all[/b]"></span>
                                        <input id="txtOverrideDiesel" type="text" class="form-control input-override" maxlength="8" data-bind="textInput: $root.dieselOffset" data-infotip="Enter a value for the [b]Diesel[/b] Override[br /][b]Note:[/b] this Overrides the [em]Tomorrow Price[/em]" />
                                        <span class="input-group-btn">
                                            <button id="btnGoOverrideDiesel" type="button" class="btn btn-primary btn-go" data-bind="click: changePricePerLitreDiesel" data-infotip="Update all the [b]Diesel[/b] Prices">Go</button>
                                        </span>
                                    </div>
                                    <div style="display: none;" data-bind="visible: $root.hasDieselOverrideExceededLimits()" class="text-danger text-center override-exceeded-bubble"><i class="fa fa-warning"></i> <span data-bind="text: $root.dieselExceedMessage()"></span></div>
                                </div>

                                <!-- /ko -->
                            </th>
                            <th class="col-header-super-unleaded" colspan="2">
                                <button type="button" class="btn btn-danger btn-xs" data-bind="visible: !$root.ViewingHistorical(), click: removeAllOverrideSuperUnleaded" data-infotip="Remove all [b]Price Overrides[/b] for [b]Super Unleaded[/b]"><i class="fa fa-power-off"></i></button>
                                <span class="fuel-sign fuel-sign-super-unleaded"></span>

                                <!-- ko if: !$root.ViewingHistorical()-->
                                <div style="width: 80%; margin: 4px auto;">
                                    <div class="input-group">
                                        <span class="input-group-addon clickable text-bold" data-bind="text: changeType, click: toggleChangeType" data-infotip="Toggle between [b]+/-[/b] and [b]Override all[/b]"></span>
                                        <input id="txtOverrideSuperUnleaded" type="text" class="form-control input-override" maxlength="8" data-bind="textInput: $root.superOffset" data-infotip="Enter a value for the [b]Super Unleaded[/b] Override[br /][b]Note:[/b] this Overrides the [em]Tomorrow Price[/em]" />
                                        <span class="input-group-btn">
                                            <button id="btnGoSuperUnleaded" type="button" class="btn btn-primary btn-go" data-bind="click: changePricePerLitreSuper" data-infotip="Update all the [b]Super Unleaded[/b] Prices">Go</button>
                                        </span>
                                    </div>
                                    <div style="display: none;" data-bind="visible: $root.hasSuperUnleadedOverrideExceededLimits()" class="text-danger text-center override-exceeded-bubble"><i class="fa fa-warning"></i> <span data-bind="text: $root.superUnleadedExceedMessage()"></span></div>
                                </div>
                                <!-- /ko -->
                            </th>
                        </tr>

                        <!-- third row -->
                        <tr>
                            <th colspan="7">
                                <!-- EMAIL all Button, only loads popup -->
                                <div>
                                    <button style="margin-left:0px " type="button" class="btn btn-success btn-sm" data-bind="disable:!$root.isAnySiteChecked() || $root.sendingEmails(), visible: !$root.ViewingHistorical() && $root.dataAvailable() == true,click: $root.sendEmailSelectedSites">
                                        <i class="fa fa-envelope-o"></i> Email <span class="badge" data-bind="text: $root.checkedEmailCount()" >0</span>
                                    </button>
                                    &nbsp;
                                    <div class="btn-group">
                                        <button type="button" data-bind="visible: !$root.ViewingHistorical() && $root.dataAvailable() == true,click: $root.selectAll" class="btn btn-primary btn-sm" style="margin-left:0px" data-infotip="Select ALL Sites [b]with[/b] Emails">
                                            <i class="fa fa-check-square-o"></i> Select All
                                        </button>
                                        <button type="button" data-bind="visible: !$root.ViewingHistorical() && $root.dataAvailable() == true,click: $root.selectSitesByPriceChange" class="btn btn-primary btn-sm" style="margin-left:0px" data-infotip="Select Sites by [b]Price Change[/b]">
                                            <i class="fa fa-area-chart"></i> By Change
                                        </button>
                                        <button type="button" data-bind="visible: !$root.ViewingHistorical() && $root.dataAvailable() == true,click: $root.clearAll" class="btn btn-warning btn-sm" style="margin-left:0px" data-infotip="Deselect ALL sites">
                                            <i class="fa fa-eraser"></i>
                                        </button>
                                    </div>

                                    <div class="btn-group pull-right">
                                        <select class="btn btn-default" style="width: 9em; margin-left: 1em;" data-bind="value: $root.siteEmailFilter, event: {change: $root.siteEmailFilterChange}" data-infotip="Filter the Sites by Emails/Selection">
                                            <option>All Sites</option>
                                            <option>No Emails</option>
                                            <option>With Emails</option>
                                            <option>With Overrides</option>
                                            <option>No Overrides</option>
                                            <option data-bind="visible: !$root.ViewingHistorical()">Selected</option>
                                            <option data-bind="visible: !$root.ViewingHistorical()">Not Selected</option>
                                        </select>
                                        <button type="button" class="btn btn-warning btn-sm" style="padding-bottom: 9px;" data-bind="click: $root.resetSiteEmailFilter" data-infotip="Clear the Site Email Filter"><i class="fa fa-eraser"></i></button>
                                    </div>
                                </div>
                            </th>

                            <th class="col-header-yesterday-unleaded">
                                <span id="today1">-</span>
                            </th>
                            <th class="col-header-tomorrow-unleaded">
                                <span id="tomorrow1">-</span>
                            </th>
                            <th class="col-header-yesterday-diesel">
                                <span id="today2">-</span>
                            </th>
                            <th class="col-header-tomorrow-diesel">
                                <span id="tomorrow2">-</span>
                            </th>
                            <th class="col-header-yesterday-super-unleaded">
                                <span id="today3">-</span>
                            </th>
                            <th class="col-header-tomorrow-super-unleaded">
                                <span id="tomorrow3">-</span>
                            </th>
                        </tr>
                    </thead>
                </table>
                <!-- end of grid header -->

                <hr style="padding:0px;margin:0px" />

                <div class="row" id="SorryNoResultsPanel" data-bind="visible: $root.shouldShowSorryResults" style="display: none; padding: 3em 2em;">
                    <div class="col-md-13 text-center font150pc">
                        Sorry, no data was found. &mdash; Try a different search criteria or use the <a class="btn btn-sm btn-success" href="@Url.Action("Upload","File")" data-infotip="Upload some data files"><i class="fa fa-upload"></i> File Upload</a>
                        <!-- ko if: !$root.priceChangeFilterUp() || !$root.priceChangeFilterDown() || !$root.priceChangeFilterNone() -->
                        or
                        <button type="button" class="btn btn-warning btn-sm" data-bind="click: resetPriceChangeFilters"><i class="fa fa-eraser"></i> Reset</button> the Price Change filters.
                        <!-- /ko -->
                    </div>
                </div>

                <!-- ko if: $root.busyLoadingData() -->
                <div class="row" style="padding: 3em 2em;">
                    <div class="col-md-13 text-center font150pc">
                        Loading Sales Pricing information. Please wait...
                    </div>
                </div>
                <!-- /ko -->

                <div id="PricingPanelScroller" class="actualdata collapsed" style="padding:0px;margin:0px; display: none;" data-bind="with: dataModel, visible: !busyLoadingData()">
                    <table class="pricing-grid">
                        <tbody>
                            <!-- JS Store DataRows -->
                            <!-- ko foreach: sites -->
                            <tr class="row site-row" role="tab" data-bind="id:('Heading' + SiteId), attr: {id: 'SiteHeading' + SiteId, 'data-price-change-signs': (priceChangeSigns())}, css: (siteRowCss())">
                                <td class="col-competitor">
                                    <a role="button" data-toggle="modal" data-bind="attr:{id: SiteId}, click: getCompetitorPopupDataClick"
                                       data-target="#competitorPricesPopup" data-infotip="View competitor's prices">
                                        <i class="fa fa-credit-card"></i>
                                    </a>
                                </td>
                                <td class="col-store-no text-center" data-bind="text: StoreNo"></td>
                                <!-- Email envelope... -->
                                <td class="col-email">
                                    <input type="checkbox" data-bind="visible:HasEmails && !$root.ViewingHistorical(), checked: checkedEmail, click: clickCheckedEmail">
                                    <i class="fa fa-warning text-danger" style="opacity: 0.5" data-bind="visible: !HasEmails" data-infotip="Site has [b]No[/b] Email addresses"></i>
                                </td>
                                <td class="col-store-name" style="position: relative;">
                                    <div class="site-name-overlay">
                                        <span class="site-name" data-bind="text: StoreName"></span>
                                        <div class="hide-hover">
                                            <a class="btn btn-success btn-xs edit-site-link" data-bind="attr: {'href': ('@Url.Action("Edit", "Sites")/?id=' + SiteId + '&calledFromSection=@(SiteSectionType.SitePricing)' ), 'data-infotip-dock': 'below', 'data-infotip': 'Edit Site [b]' + StoreName + '[/b]'}"><i class="fa fa-edit"></i> Edit...</a>
                                            <!-- ko: if !$root.ViewingHistorical() -->
                                            <a tabindex="-1" class="btn btn-default btn-xs" data-bind="visible:HasEmails, click: bindEmailTemplate" data-toggle="modal" data-target="#emailSite" data-infotip-dock="below" data-infotip="Open Email Popup" ><i class="fa fa-at"></i> Email</a>
                                            <a tagindex="-1" class="btn btn-danger btn-xs" data-bind="visible:!HasEmails" data-infotip-dock="below" data-infotip="Site has [em]No[/em] emails"><i class="fa fa-times"></i> No Emails</a>
                                            <!-- ko if: hasEmailSendLogEntry() -->
                                            <!-- ko with: EmailSendLogEntry -->
                                            <i class="fa fa-check" data-infotip-dock="below" data-bind="visible: IsSuccess, attr: {'data-infotip': '[b]Email sent..[/b]'}" style="color: green"></i>
                                            <i class="fa fa-warning" data-infotip-dock="below" data-bind="visible: IsWarning, attr: {'data-infotip': WarningMessage }" style="color: orange"></i>
                                            <i class="fa fa-ban" data-infotip-dock="below" data-bind="visible: IsError, attr: {'data-infotip': ErrorMessage}" style="color: red"></i>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </td>
                                <td class="col-store-town"><span data-bind="text: Town"></span></td>
                                <td class="col-cat-no text-center"><span data-bind="text: CatNo"></span></td>
                                <td class="col-pfs-no text-center"><span data-bind="text: PfsNo"></span></td>

                                <!-- ko foreach: FuelPricesToDisplay -->
                                <!-- ko if: siteSupportsFuel -->
                                <td data-bind="css: ('col-yesterday' + (isEditingFuel() ? ' col-editing' : '') + (hasValidValue() ? ' col-valid' : ' col-invalid'))">
                                    <span data-bind="css: ('fuel-price-change-' + UpDownSignCss()), html: FuelPrice.ForecourtTodayPriceHtml, attr: {'data-infotip': FuelPrice.CurrentPriceInfoTip()}"></span>
                                    <b data-bind="html: nearbyGrocersHtml()"></b>
                                </td>
                                <td data-bind="css: ('col-today' + (isEditingFuel() ? ' col-editing' : '') + (hasValidValue() ? ' col-valid' : ' col-invalid'))">
                                    <div data-bind="css: ('fuel-price-change-' + UpDownSignCss())">

                                        <!-- ko if:  $parent.PriceMatchType == 1 -->
                                        <span class="padded-price-right solo-price" data-bind="attr: {'data-infotip': FuelPrice.SoloPriceInfoTip()}, html: FuelPrice.ForecourtAutoPriceHtml()"></span>
                                        <!-- /ko -->

                                        <!-- ko if:  $parent.PriceMatchType == 2 -->
                                        <span class="padded-price-right trial-price" data-bind="attr: {'data-infotip': FuelPrice.TrialPriceInfoTip()}, html: FuelPrice.ForecourtAutoPriceHtml()"></span>
                                        <!-- /ko -->

                                        <!-- ko if:  $parent.PriceMatchType == 3 -->
                                        <span class="padded-price-right match-competitor-price" data-bind="attr: {'data-infotip': FuelPrice.MatchCompetitorInfoTip()}, html: FuelPrice.ForecourtAutoPriceHtml()"></span>
                                        <!-- /ko -->

                                        <span class="past-override-text" data-bind="visible: $root.ViewingHistorical()"><em data-bind="text: (FuelPrice.OverridePrice || 'Past'), attr: {'data-infotip' : '[i class=&quot;fa fa-clock&quot;][/i] Historical [b]Override Price[/b] of [em]' + FuelPrice.OverridePrice() + '[/em]'}"></em></span>

                                        <input type="text" data-bind="value: FuelPrice.OverridePrice, visible: !$root.ViewingHistorical(),
                                id: ('OverridePrice_' + $parent.SiteId + '_' + FuelPrice.FuelTypeId), event:{keyup: changeProp, blur: blurred, focus: focused}, css: ('txtPrice ' + OverrideInputCss()), attr: {'data-infotip': FuelPrice.PriceOverrideInfoTip()}" maxlength="8" />

                                        <!-- note: override prices can be extracted using $('#SiteId-FueldTypeId-overridePrice') -->
                                        <i data-bind="attr: {class: (UpDownIconCss()), 'data-infotip': FuelPrice.UpDownInfoTip()}"></i>
                                        &nbsp;<span class="price-diff" data-bind="text: (UpDownText()), attr: {'data-infotip': FuelPrice.UpDownInfoTip()}"></span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: !siteSupportsFuel -->
                                <td class="dividerLeft" data-infotip="Site does not support fuel">n/a</td>
                                <td class="dividerLeft" data-infotip="Site does not support fuel">n/a</td>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>

                    <!-- Competitor Sites price grid -->
                    @Html.Partial("~/Views/Sites/Pricing/_CompetitorSitePriceGridTable.cshtml", Model)
                    <!-- end Competitor Sites price grid -->
                </div>

                <div class="row" style="margin-top: 4px; padding-top: 4px; border-top: 1px solid #ccc;">
                    <div class="col-md-3 col-md-offset-9">
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-xs btn-primary" data-click="setExpandMode" data-mode="collapsed" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid collapsed" data-infotip="Collapse the Pricing Grid"><i class="fa fa-toggle-up"></i> Collapse</button>
                            <button type="button" class="btn btn-xs" data-click="setExpandMode" data-mode="expanded" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid expanded" data-infotip="Expand the Pricing Grid"><i class="fa fa-toggle-down"></i> Expand</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
<br />
}
<script src="~/Scripts/App/prices.js"></script>
