@using JsPlc.Ssc.PetrolPricing.Models
@using JsPlc.Ssc.PetrolPricing.Models.Enums
@using JsPlc.Ssc.PetrolPricing.Portal.Helper.Extensions
@using JsPlc.Ssc.PetrolPricing.Models.ViewModels
@model JsPlc.Ssc.PetrolPricing.Models.SiteViewModel

@{
    ViewBag.Title = "Site Prices";

    var hasDailyPriceDataFile = false;
    var hasDailyPriceDataFileForToday = false;

    var lastDailyPriceDataUpload = Model.RecentFileUploads.Files.FirstOrDefault(x => x.UploadTypeId == 1 && x.ImportStatusId == 10);
    if (lastDailyPriceDataUpload != null)
    {
        hasDailyPriceDataFile = true;
        hasDailyPriceDataFileForToday = lastDailyPriceDataUpload.UploadDateTime.Date == DateTime.Now.Date;
    }

    var latestJsPriceDataUpload = Model.RecentFileUploads.Files.FirstOrDefault(x => x.UploadTypeId == 3 && x.ImportStatusId == 10 && x.UploadDateTime.Date == DateTime.Now.Date);
    var hasLatestJsPriceDataToday = latestJsPriceDataUpload != null;

}

<link href="~/Content/prices.css" rel="stylesheet" />
<link href="~/Scripts/App/EditInPlace/edit-in-place.css" rel="stylesheet" />


@using (Html.BeginForm())
{

    <!-- knockout binds here -->
    <div id="petrolpricingpage" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">

        <h1>
            <i class="fa fa-gbp"></i> Market comparison and planner

            <span class="historical-banner font75pc" data-bind="visible: $root.ViewingHistorical" style="display: none;">
                <i class="fa fa-clock-o"></i> <strong>Note:</strong> You are viewing Historical Data &mdash; You cannot change any Override prices.
            </span>

            <button id="btnRecalculateDailyPrices" type="button" class="btn btn-danger pull-right" data-bind="visible: !$root.ViewingHistorical()" data-infotip="Recalculate the [b]Daily Prices[/b]"><i class="fa fa-power-off"></i> Recalculate Daily Prices</button>
        </h1>

        <section data-bind="visible: !$root.ViewingHistorical()">
            @if (hasDailyPriceDataFile)
            {
                if (!hasDailyPriceDataFileForToday)
                {
                    <div class="banner banner-danger">
                        <i class="fa fa-calendar"></i> <strong>Daily Price File is outdated</strong>, it was  uploaded by: <strong>@(lastDailyPriceDataUpload.UploadedBy)</strong> &mdash; @Html.FormatFriendlyDateTime(lastDailyPriceDataUpload.UploadDateTime) &mdash; (@Html.FormatFriendlyTimeAgo(lastDailyPriceDataUpload.UploadDateTime)) <a class="btn btn-primary btn-sm pull-right" href="@Url.Action("Upload","File")?UploadType=DailyPriceData" data-infotip="Upload a new [b]Daily Price Data[/b] file"><i class="fa fa-upload"></i> Upload</a>
                        <input type="hidden" id="hdnDailyPriceFileMissingForToday" value="1" />
                    </div>
                }
            }
            else
            {
                <div class="banner banner-danger">
                    <i class="fa fa-file"></i> There is no <strong>Daily Price Data</strong> file. Please <a class="btn btn-primary btn-sm" href="@Url.Action("Upload","File")?UploadType=DailyPriceData" data-infotip="Upload a new [b]Daily Price Data[/b] file"><i class="fa fa-upload"></i> Upload</a> a file.
                    <input type="hidden" id="hdnDailyPriceFileMissingForToday" value="1" />
                </div>
            }
        </section>


        @*@if (hasLatestJsPriceDataToday)
        {
            <input type="hidden" id="hdnHasLatestJsPriceDataToday" value="1" />
        <div class="banner banner-warning" data-bind="visible: ($root.hasLatestJsPriceDataForToday() && !$root.ViewingHistorical())" style="display: none;">
            <i class="fa fa-info-circle"></i> Disabled <strong>Override Prices</strong> because a <a class="btn btn-warning" href="@Url.Action("Details", "File")/@(latestJsPriceDataUpload.FileUploadId)"><i class="fa fa-file"></i> Latest Js Price Data</a> file  has been uploaded for today by <strong>@(latestJsPriceDataUpload.UploadedBy)</strong> &mdash; (@Html.FormatFriendlyTimeAgo(latestJsPriceDataUpload.UploadDateTime))
        </div>
        }*@

        <!-- competitor notes popup -->
        @Html.Partial("~/Views/Sites/Pricing/_CompetitorNotePopup.cshtml", Model)
        <!-- end competitor notes popup within knockout -->
        <!-- Competitor Prices Popup -->
        @Html.Partial("~/Views/Sites/Pricing/_CompetitorPriceGridPopup.cshtml", Model)
        <!-- END Competitor Prices Popup -->
        <!-- Email ALL popup within knockout -->
        @Html.Partial("~/Views/Sites/Pricing/_EmailAllSitesPopup.cshtml", Model)
        <!-- END Email ALL popup within knockout -->
        <!-- Email popup within knockout -->
        @Html.Partial("~/Views/Sites/Pricing/_EmailSitePopup.cshtml", Model)
        <!-- End Email popup within knockout -->

        <!-- Site Email actions:Start -->
        @Html.Partial("~/Views/Sites/Pricing/_SiteEmailActionsPopup.cshtml", Model)
        <!-- Site Emails actions:End -->

        <!-- Submit disabled, all work done thru ajax calls -->
        <form id="myform" method="post" data-bind="submit: savePetrolPricingForm" xclass="input-group-sm" action="sites/PostPrices" onsubmit="return false;" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">
            <div class="row pricing-filters-row" onclick="IsSitePriceFormClicked=1;" style="width:1280px;">
                <!-- Date Picker -->
                <div class="col-md-1">
                    <label for="viewingDate">Date:</label> <button type="button" class="btn btn-xs btn-warning" data-bind="visible: $root.ViewingHistorical, click: $root.resetViewingDate" style="display: none;" data-infotip="View Today's Prices"><i class="fa fa-eraser"></i> Reset</button>
                    <input type="text" id="viewingDate" class="datepicker form-control" onmousedown="IsSitePriceFormClicked=1;" onclick="IsSitePriceFormClicked=1;"
                           style="width: 85px" name="viewingDate" maxlength="12"
                           data-bind="value: $root.InitDate" data-infotip="Enter a [b]Date[/b] to view" />
                </div>
                <!-- Store No -->
                <div class="col-md-1">
                    <label for="viewingStoreNo">Store No:</label>
                    <input type="text" id="viewingStoreNo" class="form-control" maxlength="9" style="width: 70px;"
                           name="viewingStoreNo" data-bind="numeric, value: $root.StoreNo" data-infotip="Enter a [b]Store No[/b]" />
                </div>
                <!-- Store Name -->
                <div class="col-md-2">
                    <label for="viewingStoreName">Store Name:</label>
                    <input type="text" id="viewingStoreName" class="form-control" maxlength="50"
                           name="viewingStoreName" data-bind="value: $root.StoreName" data-infotip="Enter a [b]Store Name[/b]" />
                </div>
                <!-- Store Town -->
                <div class="col-md-2">
                    <label for="viewingStoreTown">Store Town:</label>
                    <input type="text" id="viewingStoreTown" class="form-control" maxlength="50"
                           name="viewingStoreTown" data-bind="value: $root.StoreTown" data-infotip="Enter a [b]Store Town[/b]" />
                </div>
                <!-- Catalist No -->
                <div class="col-md-1" style="width: 100px;">
                    <label for="viewingCatNo">Catalist No:</label>
                    <input type="text" id="viewingCatNo" class="form-control" maxlength="9" style="width: 70px;"
                           name="viewingCatNo" data-bind="numeric, value: $root.CatNo" data-infotip="Enter a [b]Catalist No[/b]" />
                </div>
                <!-- go button -->
                <div class="col-md-1">
                    <label>&nbsp;</label><br />
                    <button type="button" id="btnGO" class="btn btn-success" data-bind="click: loadPageWithParams" data-infotip="Filter the Site Prices"><i class="fa fa-filter"></i> Go</button>
                </div>
                <!-- show all button -->
                <div class="col-md-1">
                    <label>&nbsp;</label><br />
                    <button type="button" class="btn btn-warning" data-bind="click: function() { reloadSearchPage('Sites/Prices?date='+$root.InitDateInUsFormat()) }" data-infotip="Clear all the filters"><i class="fa fa-eraser"></i> Clear filters</button>
                </div>
                <!-- ExportToExcel button -->
                <div class="col-md-3 text-right last-col">
                    <label>&nbsp;</label>
                    <label class="button"></label>
                    <div>
                        <button type="button" style="margin-left:0px " class="btn btn-primary" id="btnExportAll" data-infotip="Export [b]All[/b] Sites"><i class="fa fa-download"></i> Export ALL</button>
                        <button type="button" style="margin-left:0px" class="btn btn-primary" id="btnExportSites" data-infotip="Export [b]Sainsbury's'[/b] Sites Only"><i class="fa fa-download"></i> Export JS Sites</button>
                    </div>
                </div>
            </div>
            <hr style="width:1280px;" />
            <div class="row">
                <div class="col-md-2">
                    <label>Price changes: </label>
                    <!-- ko if: !$root.priceChangeFilterDown() || !$root.priceChangeFilterNone() || !priceChangeFilterUp() -->
                    <button class="btn btn-warning btn-xs" style="margin-left: 2.5em" data-bind="click: resetPriceChangeFilters"><i class="fa fa-eraser"></i> Reset</button>
                    <!-- /ko -->
                    <br />
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm" data-bind="click: togglePriceChangeFilterDown, css: {'btn-primary': $root.priceChangeFilterDown()}" data-infotip="Toggle [b]Downward[/b] Price Changes"><i class="fa fa-arrow-down"></i> Down</button>
                        <button type="button" class="btn btn-sm" data-bind="click: togglePriceChangeFilterNone, css: {'btn-primary': $root.priceChangeFilterNone()}" data-infotip="Toggle [b]Non-moving[/b] Price Changes"><i class="fa fa-minus"></i> None</button>
                        <button type="button" class="btn btn-sm" data-bind="click: togglePriceChangeFilterUp, css: {'btn-primary': $root.priceChangeFilterUp()}" data-infotip="Toggle [b]Upward[/b] Price Changes"><i class="fa fa-arrow-up"></i> Up</button>
                    </div>
                </div>

                <div class="col-md-10">
                    <label>Excluded Brands <span class="excluded-brands-status" data-bind="html: $root.savingExcludedBrandsMessage(), css: $root.savingExcludedBrandsCss"></span></label><br />
                    @Html.ListBoxFor(model => model.ExcludeBrands, new MultiSelectList(Model.AllBrands), new { @data_placeholder = "Select Brands...", @class = "chosen-select", style = "width: 100%;", id = "lstbxexcludebrands" })
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group hover-background-primary clickable" style="margin-top: -0.5em; display: none;" data-bind="click: $root.confirmGotoSettings, visible: !$root.busyLoadingData()" data-infotip-dock="below" data-infotip="These can be changed in the [b]Settings[/b] page">
                        <label class="tag tag-info">Price Variance <span class="badge" data-bind="text: ('+/- ' + $root.PriceChangeVariance() + ' p')"></span></label>
                        <label class="tag tag-info">Grocer Drive Time <span class="badge" data-bind="text: ('' + $root.MaxGrocerDriveTime() + ' mins')"></span></label>
                        <label class="tag tag-info">Rounding <span class="badge" data-bind="text: ($root.DecimalRounding() == -1 ? 'none': $root.DecimalRounding())"></span></label>
                        <label class="tag tag-info">Super-Unleaded <span class="badge" data-bind="text: ('+' + $root.SuperUnleadedMarkup() + ' p')"></span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right" style="margin-right: -1em;">
                        <button type="button" class="btn btn-default" data-bind="click: showPriceChangesTab, css: { 'btn-primary' : $root.showingPriceChangesTab()}" data-infotip="Show [b]Our Price Changes[/b] tab"><i class="fa fa-bar-chart"></i> Our Price Changes</button>
                        <button type="button" class="btn btn-default" data-bind="click: showPriceSummaryTab, css: {'btn-primary': $root.showingPriceSummaryTab()}" data-infotip="Show the [b]Prices/Price Change[/b] summary tab"><i class="fa fa-area-chart"></i> Price Stats</button>
                        <button type="button" class="btn btn-default" data-bind="click: showEmptySummaryTab, css: {'btn-primary': $root.showingEmptyTab()}" data-infotip="Hide [b]All[/b] tabs"><i class="fa fa-times"></i> Hide</button>
                    </div>
                </div>
            </div>

            <div class="row price-change-tab" data-bind="visible: $root.showingPriceChangesTab()" style="display: none;">
                <div>
                    <div class="sainsburys-site-stats hide-first-load" data-bind="visible: !$root.busyLoadingData()">
                        @Html.Partial("~/Views/Sites/Pricing/TabPanels/_PriceChanges.cshtml")
                    </div>
                </div>
            </div>

            <div class="row summary-tab" data-bind="visible: $root.showingPriceSummaryTab()" style="display: none;">
                <div>
                    <div class="sainsburys-site-stats hide-first-load" data-bind="visible: !$root.busyLoadingData()">
                        @Html.Partial("~/Views/Sites/Pricing/TabPanels/_PriceStats.cshtml")
                    </div>
                </div>
            </div>

            <hr style="width:1280px;" />
            <div style="display: none" class="alert alert-danger" data-bind="visible: $root.HasValidationErrors() || $root.HasErrorMessage()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-8" style="padding-top: 2px"><strong><span id="msgError"></span></strong></div>
                <div class="clearfix"></div>
            </div>
            <div style="display: none" class="alert alert-warning" data-bind="visible: !$root.hasAnyFieldErrors() && !$root.HasValidationErrors() && $root.HasUnsavedChanges() && !$root.ViewingHistorical() && !$root.hasBadPriceChangeValue()">
                <div class="col-md-1 text-center"><i class="fa fa-question-circle fa-2x pulse-size"></i></div>
                <div class="col-md-10">
                    <strong>
                        You have unsaved changes. Would you like to save them?
                    </strong>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-success btn-block" data-bind="click: savePetrolPricingForm" data-infotip="Save the changes">
                        <i class="fa fa-check"></i> Yes
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div style="display: none" class="alert alert-success" data-bind="visible: $root.HasSuccessMessage()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-4" style="padding-top: 2px"><span id="msgSuccess"></span></div>
                <div class="clearfix"></div>
            </div>

            <div style="display: none;" class="alert alert-danger" data-bind="visible: $root.hasBadPriceChangeValue()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-10">
                    <strong>Please enter a valid value for the price change for <span id="msgFuelTypeError"></span>.</strong>
                </div>
                <div class="col-md-1 pull-right">
                    <span class="clickable btn btn-default" data-bind="click:closeWarningPanel" data-infotip="Close the warning message">
                        <i class="fa fa-close"></i> Close
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>

            <div style="display:none;" class="alert alert-danger" data-bind="visible: $root.hasAnyFieldErrors() && !$root.HasValidationErrors()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-10">
                    <strong>There are <span data-bind="text: fieldErrorCount()"></span> field errors. Please correct and retry.</strong>
                </div>
                <div class="col-md-1">
                    <button data-bind="click: $root.gotoFirstInvalidOverrideField" type="button" class="btn btn-danger" data-infotip="Go to first error"><i class="fa fa-chevron-right"></i> First</button>
                </div>

                <div class="clearfix"></div>
            </div>

            <div style="display:block;" class="" data-bind="visible: $root.busyLoadingData()">

                <div class="fullscreen-dull"></div>

                <div class="loading-indicator">
                    <div class="col-md-1 text-center"><i class="fa fa-clock-o fa-4x spinner"></i></div>
                    <div class="col-md-10 text-center font125pc">
                        <p><strong>Loading Sales Pricing information. </strong></p>
                        <p class="pulse-opacity">Please wait..</p>
                        <div class="font125pc text-info" data-bind="html: $root.loadingETAMessage"></div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">
                <!-- highlighers -->
                <div class="row" style="margin-bottom: 4px; padding-bottom: 4px; border-bottom: 1px solid #ccc;">

                    <div class="col-md-8" data-bind="visible: !$root.busyLoadingData()" style="display: none;">
                        <strong>Price Highlight:</strong><br />
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightTrialPrices, css: {'btn-primary': $root.highlightTrialPrices()}" data-infotip="Toggle the [b]Trial Prices[/b] Highlighting"><i class="fa fa-flask "></i> Trial <span class="badge" data-bind="text: $root.TrialPricesCount"></span></button>
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightMatchCompetitors, css: {'btn-primary': $root.highlightMatchCompetitors()}" data-infotip="Toggle the [b]Match Competitors[/b] Highlighting"><i class="fa fa-clone"></i> Match Competitors <span class="badge" data-bind="text: $root.MatchCompetitorsCount"></span></button>
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightStandardPrices, css: {'btn-primary': $root.highlightStandardPrices()}" data-infotip="Toggle the [b]Standard Prices[/b] Highlighting"><i class="fa fa-dot-circle-o"></i> Standard <span class="badge" data-bind="text: $root.StandardPricesCount"></span></button>
                        </div>
                        &nbsp;
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightNoNearbyGrocerPrices, css: {'btn-primary': $root.highlightNoNearbyGrocerPrices() }" data-infotip="Toggle highlighting for Site Fuels[br /] with [b]No Nearby Grocers[/b]"><i class="fa fa-times"></i> No Grocers <span class="badge" data-bind="text: $root.NoNearbyGrocersCount"></span></button>
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightHasNearbyGrocerWithOutPrices, css: {'btn-primary': $root.highlightHasNearbyGrocerWithOutPrices() }" data-infotip="Toggle highlighting for Site Fuels[br /][b]with Nearby Grocers[/b] but [em]Incomplete[/em] Prices"><i class="fa fa-question"></i> Incomplete <span class="badge" data-bind="text: $root.NearbyGrocersWithoutPricesCount"></span></button>
                            <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightHasNearbyGrocerPrices, css: {'btn-primary': $root.highlightHasNearbyGrocerPrices() }" data-infotip="Toggle highlighting for Site Fuels[br /][b]with Nearby Grocers[/b] and [b]with Prices[/b]"><i class="fa fa-gbp"></i> With Prices <span class="badge" data-bind="text: $root.NearbyGrocersAndPricesCount"></span></button>
                        </div>
                        <button type="button" class="btn btn-sm btn-warning" data-bind="visible: $root.shouldShouldHighlightReset(), click: resetPriceHighlighting" data-infotip="Hide all the Highlighting"><i class="fa fa-eraser "></i></button>
                    </div>
                    <div class="col-md-8 text-center" data-bind="visible: $root.busyLoadingData()">
                        Loading prices...
                    </div>

                    <div class="col-md-2">
                        <!-- ko if: (!$root.ViewingHistorical() && !$root.isDailyPriceFileOutdated())-->
                            <strong>Auto Hide Overrides:</strong><br />
                            <button type="button" class="btn" data-bind="css: ($root.isAutoHideShowOverrides() ? 'btn-primary' : 'btn-default'), click: $root.enableAutoHideOverrides" data-infotip="Auto-hide empty [b]Overrides[/b] fields"><i class="fa fa-check-square-o"></i> On</button>
                            <button type="button" class="btn" data-bind="css: ($root.isAutoHideShowOverrides() ? 'btn-default' : 'btn-primary'), click: $root.disableAutoHideOverrides" data-infotip="[u]Always[/u] show the [b]Overrides[/b][br /]Even empty ones"><i class="fa fa-square-o"></i> Off</button>
                        <!-- /ko -->
                    </div>

                    <div class="col-md-2 col">
                        <strong>Scrolling:</strong>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-primary" data-click="setExpandMode" data-mode="collapsed" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid collapsed" data-infotip-dock="below" data-infotip="Collapse the Pricing Grid"><i class="fa fa-toggle-up"></i> Collapse</button>
                            <button type="button" class="btn btn-sm" data-click="setExpandMode" data-mode="expanded" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid expanded" data-infotip-dock="below" data-infotip="Expand the Pricing Grid"><i class="fa fa-toggle-down"></i> Expand</button>
                        </div>
                    </div>
                </div>

                <!-- start grid header -->
                <table class="pricing-grid pricing-grid-header">
                    <thead>
                        <!-- row: #1 -->
                        <tr class="header-widths">
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                        <!-- row: #2 -->
                        <tr>
                            <th colspan="3" class="form-group form-inline text-center" style="background-color: #f8f8f8; border-right: 1px solid #999;">
                                <div class="form-group">
                                    <label><i class="fa fa-filter"></i> Price Movement:</label>
                                    <input type="number" data-bind="value: $root.priceMovementMinFilter, attr: {'min': $root.priceMovementMin}, 'css': $root.priceMovementMinFilterCss()" class="form-control input-sm" style="width: 7em;" maxlength="4" data-infotip="Enter the [b]Min[/b] Price Movement" value="" placeholder="Min" />
                                    <input type="number" data-bind="value: $root.priceMovementMaxFilter, attr: {'max': $root.priceMovementMax}, 'css': $root.priceMovementMaxFilterCss()" class="form-control input-sm" style="width: 7em;" maxlength="4" data-infotip="Enter the [b]Max[/b] Price Movement" value="" placeholder="Max" />
                                    <button type="button" class="btn btn-success btn-sm" data-bind="click: applyPriceMovementFilter" data-infotip="Apply the [b]Price Movement[/b] Filters"><i class="fa fa-filter"></i></button>
                                    <button type="button" class="btn btn-warning btn-sm" data-bind="click: resetPriceMovementFilters" data-infotip="Clear the [b]Price Movement[/b] filters"><i class="fa fa-eraser"></i></button>
                                </div>
                            </th>
                            <th rowspan="2" colspan="4" class="col-header-unleaded">
                                <button type="button" class="btn btn-danger btn-xs" data-bind="visible: !$root.ViewingHistorical(), click: removeAllOverrideUnleaded" data-infotip="Remove all [b]Price Overrides[/b] for [b]Unleaded[/b]"><i class="fa fa-power-off"></i></button>
                                <span class="fuel-sign fuel-sign-unleaded"></span>

                                <!-- ko if: (!$root.ViewingHistorical() && $root.hasDailyPriceFile() && !$root.hasLatestJsPriceDataForToday())-->
                                <div style="width: 80%; margin: 4px auto;">
                                    <div class="input-group">
                                        <span class="input-group-addon clickable text-bold" data-bind="text: changeType, click: toggleChangeType" data-infotip="Toggle between [b]+/-[/b] and [b]Override all[/b]"></span>
                                        <input id="txtOverrideUnleaded" type="text" class="form-control input-override" maxlength="8" data-bind="textInput: $root.unleadedOffset" data-infotip="Enter a value for the [b]Unleaded[/b] Override[br /][b]Note:[/b] this Overrides the [em]Tomorrow Price[/em]" />
                                        <span class="input-group-btn">
                                            <button id="btnGoOverrideUnleaded" type="button" class="btn btn-primary btn-go" data-bind="click: changePricePerLitreUnleaded" data-infotip="Update all the [b]Unleaded[/b] Prices">Go</button>
                                        </span>
                                    </div>
                                    <div style="display: none;" data-bind="visible: $root.hasUnleadedOverrideExceededLimits()" class="text-danger text-center override-exceeded-bubble"><i class="fa fa-warning"></i> <span data-bind="text: $root.unleadedExceedMessage()"></span></div>
                                </div>
                                <!-- /ko -->
                            </th>
                            <th rowspan="2" colspan="4" class="col-header-diesel">
                                <button type="button" class="btn btn-danger btn-xs" data-bind="visible: !$root.ViewingHistorical(), click: removeAllOverrideDiesel" data-infotip="Remove all [b]Price Overrides[/b] for [b]Diesel[/b]"><i class="fa fa-power-off"></i></button>
                                <span class="fuel-sign fuel-sign-diesel"></span>

                                <!-- ko if: (!$root.ViewingHistorical() && $root.hasDailyPriceFile() && !$root.hasLatestJsPriceDataForToday())-->
                                <div style="width: 80%; margin: 4px auto;">
                                    <div class="input-group">
                                        <span class="input-group-addon clickable text-bold" data-bind="text: changeType, click: toggleChangeType" data-infotip="Toggle between [b]+/-[/b] and [b]Override all[/b]"></span>
                                        <input id="txtOverrideDiesel" type="text" class="form-control input-override" maxlength="8" data-bind="textInput: $root.dieselOffset" data-infotip="Enter a value for the [b]Diesel[/b] Override[br /][b]Note:[/b] this Overrides the [em]Tomorrow Price[/em]" />
                                        <span class="input-group-btn">
                                            <button id="btnGoOverrideDiesel" type="button" class="btn btn-primary btn-go" data-bind="click: changePricePerLitreDiesel" data-infotip="Update all the [b]Diesel[/b] Prices">Go</button>
                                        </span>
                                    </div>
                                    <div style="display: none;" data-bind="visible: $root.hasDieselOverrideExceededLimits()" class="text-danger text-center override-exceeded-bubble"><i class="fa fa-warning"></i> <span data-bind="text: $root.dieselExceedMessage()"></span></div>
                                </div>
                                <!-- /ko -->
                            </th>
                            <th rowspan="2" colspan="4" class="col-header-super-unleaded">
                                <button type="button" class="btn btn-danger btn-xs" data-bind="visible: !$root.ViewingHistorical(), click: removeAllOverrideSuperUnleaded" data-infotip="Remove all [b]Price Overrides[/b] for [b]Super Unleaded[/b]"><i class="fa fa-power-off"></i></button>
                                <span class="fuel-sign fuel-sign-super-unleaded"></span>

                                <!-- ko if: (!$root.ViewingHistorical() && $root.hasDailyPriceFile() && !$root.hasLatestJsPriceDataForToday())-->
                                <div style="width: 80%; margin: 4px auto;">
                                    <div class="input-group">
                                        <span class="input-group-addon clickable text-bold" data-bind="text: changeType, click: toggleChangeType" data-infotip="Toggle between [b]+/-[/b] and [b]Override all[/b]"></span>
                                        <input id="txtOverrideSuperUnleaded" type="text" class="form-control input-override" maxlength="8" data-bind="textInput: $root.superOffset" data-infotip="Enter a value for the [b]Super Unleaded[/b] Override[br /][b]Note:[/b] this Overrides the [em]Tomorrow Price[/em]" />
                                        <span class="input-group-btn">
                                            <button id="btnGoSuperUnleaded" type="button" class="btn btn-primary btn-go" data-bind="click: changePricePerLitreSuper" data-infotip="Update all the [b]Super Unleaded[/b] Prices">Go</button>
                                        </span>
                                    </div>
                                    <div style="display: none;" data-bind="visible: $root.hasSuperUnleadedOverrideExceededLimits()" class="text-danger text-center override-exceeded-bubble"><i class="fa fa-warning"></i> <span data-bind="text: $root.superUnleadedExceedMessage()"></span></div>
                                </div>
                                <!-- /ko -->
                            </th>
                            <th rowspan="3" class="col-scrollbar">&nbsp;</th>
                        </tr>

                        <!-- row: #3 -->
                        <tr>
                            <th class="col-header-store-no">Store</th>
                            <th class="col-header-email">@@</th>
                            <th class="col-header-store-name">Store Name</th>
                        </tr>

                        <!-- row: #4 -->
                        <tr>
                            <th colspan="3" style="border-right: 1px solid #999;">
                                <!-- EMAIL all Button, only loads popup -->
                                <div>
                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#SiteEmailActionsModal" data-infotip="Open the [b]Site Email Actions[/b]">
                                        <i class="fa fa-envelope-o"></i> Site Emails <span class="badge" data-bind="text: $root.checkedEmailCount()">0</span>
                                        <span class="caret"></span>
                                    </button>

                                    <div class="btn-group pull-right">
                                        <select class="btn btn-default" style="width: 15em; margin-left: 1em;" data-bind="value: $root.siteEmailFilter, event: {change: $root.siteEmailFilterChange}" data-infotip="Filter the [b]Sites[/b] [br /]by Emails/Selection or Status">
                                            <option>All Sites</option>
                                            <option>With Emails</option>
                                            <option>No Emails</option>
                                            <option>With Overrides</option>
                                            <option>No Overrides</option>
                                            <option data-bind="visible: !$root.ViewingHistorical()">Selected</option>
                                            <option data-bind="visible: !$root.ViewingHistorical()">Not Selected</option>
                                            <option data-bind="visible: !$root.ViewingHistorical()">Exceeds Absolute Min/Max</option>
                                            <option data-bind="visible: !$root.ViewingHistorical()">Errors</option>
                                            <option data-bind="visible: !$root.ViewingHistorical()">Inside Variance</option>
                                            <option data-bind="visible: !$root.ViewingHistorical()">Outside Variance</option>
                                        </select>
                                        <button type="button" class="btn btn-warning btn-sm" style="padding-bottom: 9px;" data-bind="click: $root.resetSiteEmailFilter" data-infotip="Clear the Site Email Filter"><i class="fa fa-eraser"></i></button>
                                    </div>
                                </div>
                            </th>

                            <th class="col-header-grocer-percent">Data<br />%</th>
                            <th class="col-header-today-price col-unleaded">
                                <span id="today1">-</span>
                            </th>
                            <th class="col-header-tomorrow-price col-unleaded">
                                <span id="tomorrow1">-</span>
                            </th>
                            <th class="col-header-tomorrow-price-change col-unleaded">
                                +/-
                            </th>

                            <th class="col-header-grocer-percent col-header-diesel">Data<br />%</th>
                            <th class="col-header-today-price col-diesel">
                                <span id="today2">-</span>
                            </th>
                            <th class="col-header-tomorrow-price col-diesel">
                                <span id="tomorrow2">-</span>
                            </th>
                            <th class="col-header-tomorrow-price-change col-diesel">
                                +/-
                            </th>

                            <th class="col-header-grocer-percent">Data<br />%</th>
                            <th class="col-header-today-price col-super-unleaded ">
                                <span id="today3">-</span>
                            </th>
                            <th class="col-header-tomorrow-price col-super-unleaded">
                                <span id="tomorrow3">-</span>
                            </th>
                            <th class="col-header-tomorrow-price-change col-super-unleaded">
                                +/-
                            </th>
                        </tr>

                        <!-- row: #5 -->
                        <tr class="pricing-sort-row">
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Store No[/b]" data-bind="click: $root.sortByColumn0"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Has Email[/b]" data-bind="click: $root.sortByColumn1"></th>
                            <th class="sortable sort-asc" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Store Name[/b]" data-bind="click: $root.sortByColumn2"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Unleaded Competitor Data %[/b]" data-bind="click: $root.sortByColumn3"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Unleaded Today Price[/b]" data-bind="click: $root.sortByColumn4"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Unleaded Tomorrow Price[/b]" data-bind="click: $root.sortByColumn5"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Unleaded Price Change[/b]" data-bind="click: $root.sortByColumn6"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Diesel Competitor Data %[/b]" data-bind="click: $root.sortByColumn7"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Diesel Today Price[/b]" data-bind="click: $root.sortByColumn8"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Diesel Tomorrow Price[/b]" data-bind="click: $root.sortByColumn9"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Diesel Price Change[/b]" data-bind="click: $root.sortByColumn10"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Super-Unleaded Competitor Data %[/b]" data-bind="click: $root.sortByColumn11"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Super-Unleaded Today Price[/b]" data-bind="click: $root.sortByColumn12"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Super-Unleaded Tomorrow Price[/b]" data-bind="click: $root.sortByColumn13"></th>
                            <th class="sortable" data-infotip-dock="below" data-infotip="Click to sort by [br /][b]Super-Unleaded Price Change[/b]" data-bind="click: $root.sortByColumn14"></th>
                        </tr>

                    </thead>
                </table>
                <!-- end of grid header -->

                <hr style="padding:0px;margin:0px" />

                <div class="row" id="SorryNoResultsPanel" data-bind="visible: $root.shouldShowSorryResults" style="display: none; padding: 3em 2em;">
                    <div class="col-md-13 text-center font150pc">
                        Sorry, no data was found. &mdash; Try a different search criteria or use the <a class="btn btn-sm btn-success" href="@Url.Action("Upload","File")" data-infotip="Upload some data files"><i class="fa fa-upload"></i> File Upload</a>
                        <!-- ko if: !$root.priceChangeFilterUp() || !$root.priceChangeFilterDown() || !$root.priceChangeFilterNone() -->
                        or
                        <button type="button" class="btn btn-warning btn-sm" data-bind="click: resetPriceChangeFilters"><i class="fa fa-eraser"></i> Reset</button> the Price Change filters.
                        <!-- /ko -->
                    </div>
                </div>

                <!-- ko if: $root.busyLoadingData() -->
                <div class="row" style="padding: 3em 2em;">
                    <div class="col-md-13 text-center font150pc">
                        Loading Sales Pricing information. Please wait...
                    </div>
                </div>
                <!-- /ko -->

                <div id="PricingPanelScroller" class="actualdata collapsed" style="padding:0px;margin:0px; display: none;" data-bind="with: dataModel, visible: !busyLoadingData()">
                    <table class="pricing-grid" data-bind="attr: {'class': 'pricing-grid ' + $root.tableGridCss()}">
                        <tbody>
                            <!-- JS Store DataRows -->
                            <!-- ko foreach: sites.sort($root.pricingColumnSorter) -->
                            <tr class="row site-row" role="tab" data-bind="id:('Heading' + SiteId), attr: {id: 'SiteHeading' + SiteId, 'data-price-change-signs': (priceChangeSigns())}, css: (siteRowCss() + (hiddenByPriceMovementFilter() ? ' hide' : ''))">
                                <td class="col-store-no text-center" data-bind="text: StoreNo"></td>
                                <!-- Email envelope... -->
                                <td class="col-email">
                                    <input type="checkbox" data-bind="visible:HasEmails && !$root.ViewingHistorical() && canSendEmail(), checked: checkedEmail, click: clickCheckedEmail">
                                    <i class="fa fa-minus text-info" data-bind="visible: HasEmails && !$root.ViewingHistorical() && !canSendEmail()" data-infotip="Site [u]has[/u] Emails address[br /]but has [em]No[/em] price changes."></i>
                                    <i class="fa fa-times text-danger" data-bind="visible: !HasEmails" data-infotip="Site has [b]No[/b] Email addresses"></i>
                                </td>
                                <td class="col-store-name" style="position: relative;">
                                    <div class="site-name-overlay">

                                        <i class="fa fa-dot-circle-o" data-bind="visible: (PriceMatchType == 1)" data-infotip="[b]Standard Price[/b]"></i>
                                        <i class="fa fa-flask" data-bind="visible: (PriceMatchType == 2)" data-infotip="[b]Trial Price[/b]"></i>
                                        <i class="fa fa-clone" data-bind="visible: (PriceMatchType == 3)" data-infotip="[b]Match Competitor[/b]"></i>

                                        <span class="site-name" data-bind="html: (StoreName.replace('SAINSBURYS', ''))"></span>
                                      
                                        <div class="hide-hover">
                                            <div style="margin: 0 0 8px 0;">
                                                <span class="site-town" data-bind="text: Town"></span>
                                                <span class="site-pfsno" data-bind="text: PfsNo"></span>
                                                <span class="site-catno" data-bind="text: CatNo"></span>
                                            </div>
                                                  <a role="button" href="#" class="btn btn-primary btn-xs competitor-site-link" data-toggle="modal" data-bind="attr:{id: SiteId}, click: getCompetitorPopupDataClick"
                                               data-target="#competitorPricesPopup" data-infotip-dock="below" data-infotip="View competitor's prices">
                                                <i class="fa fa-credit-card"></i> Competitor Prices
                                            </a>
                                            <a class="btn btn-success btn-xs edit-site-link" data-bind="attr: {'href': ('@Url.Action("Edit", "Sites")/?id=' + SiteId + '&calledFromSection=@(SiteSectionType.SitePricing)' ), 'data-infotip-dock': 'below', 'data-infotip': 'Edit Site [b]' + StoreName + '[/b]'}"><i class="fa fa-edit"></i> Edit...</a>
                                            <!-- ko: if !$root.ViewingHistorical() -->
                                            <a tabindex="-1" class="btn btn-success btn-xs" data-bind="visible:HasEmails, click: bindEmailTemplate, attr:{'data-infotip': emailsInfoTip()}" data-toggle="modal" data-target="#emailSite" data-infotip-dock="below"><i class="fa fa-at"></i> Email</a>
                                            <a tagindex="-1" class="btn btn-danger btn-xs" data-bind="visible:!HasEmails" data-infotip-dock="below" data-infotip="Site has [em]No[/em] emails"><i class="fa fa-times"></i> No Emails</a>
                                            <!-- ko if: hasEmailSendLogEntry() -->
                                            <!-- ko with: EmailSendLogEntry -->
                                            <i class="fa fa-check" data-infotip-dock="below" data-bind="visible: IsSuccess, attr: {'data-infotip': '[b]Email sent..[/b]'}" style="color: green"></i>
                                            <i class="fa fa-warning" data-infotip-dock="below" data-bind="visible: IsWarning, attr: {'data-infotip': WarningMessage }" style="color: orange"></i>
                                            <i class="fa fa-ban" data-infotip-dock="below" data-bind="visible: IsError, attr: {'data-infotip': ErrorMessage}" style="color: red"></i>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </td>
                           
                                <!-- ko foreach: FuelPricesToDisplay -->
                                <!-- ko if: siteSupportsFuel -->
                                <td data-bind="css: (isEditingFuel() ? 'col-editing': ''), html: (FuelPrice.CompetitorPricePercentHtml()), attr: {'data-infotip': (FuelPrice.CompetitorPricePercentInfoTip())}"></td>
                                <td data-bind="css: ('col-yesterday' + (isEditingFuel() ? ' col-editing' : '') + (hasValidValue() ? ' col-valid' : ' col-invalid'))">
                                    <span data-bind="css: ('fuel-price-change-' + UpDownSignCss()), html: FuelPrice.ForecourtTodayPriceHtml, attr: {'data-infotip': FuelPrice.CurrentPriceInfoTip()}"></span>
                                    <b data-bind="html: nearbyGrocersHtml()"></b>
                                </td>
                                <td data-bind="css: (TomorrowPriceCellCss())">
                                    <div data-bind="css: ('fuel-price-change-' + UpDownSignCss())">
                                        <!-- ko if:  $parent.PriceMatchType == 1 -->
                                        <span class="padded-price-right standard-price click-edits-override" data-bind="click: showToEditOverride, attr: {'data-infotip': FuelPrice.StandardPriceInfoTip()}, html: FuelPrice.ForecourtAutoPriceHtml()"></span>
                                        <!-- /ko -->
                                        <!-- ko if:  $parent.PriceMatchType == 2 -->
                                        <span class="padded-price-right trial-price click-edits-override" data-bind="click: showToEditOverride, attr: {'data-infotip': FuelPrice.TrialPriceInfoTip()}, html: FuelPrice.ForecourtAutoPriceHtml()"></span>
                                        <!-- /ko -->
                                        <!-- ko if:  $parent.PriceMatchType == 3 -->
                                        <span class="padded-price-right match-competitor-price click-edits-override" data-bind="click: showToEditOverride, attr: {'data-infotip': FuelPrice.MatchCompetitorInfoTip()}, html: FuelPrice.ForecourtAutoPriceHtml()"></span>
                                        <!-- /ko -->

                                        <span class="past-override-text" data-bind="visible: $root.ViewingHistorical()"><em data-bind="text: (FuelPrice.OverridePrice || 'Past'), attr: {'data-infotip' : '[i class=&quot;fa fa-clock&quot;][/i] Historical [b]Override Price[/b] of [em]' + FuelPrice.OverridePrice() + '[/em]'}"></em></span>

                                        <input type="text" data-bind="value: FuelPrice.OverridePrice, visible: (!$root.ViewingHistorical() && !$root.isDailyPriceFileOutdated() && !$root.hasLatestJsPriceDataForToday())
        , event:{keyup: changeProp, blur: blurred, focus: focused}, css: ('txtPrice ' + OverrideInputCss()), attr: {id: ('OverridePrice_' + $parent.SiteId + '_' + FuelPrice.FuelTypeId), 'data-infotip': FuelPrice.PriceOverrideInfoTip()}" maxlength="8" />

                                        <span class="text-danger no-daily-price-file-icon" data-bind="visible: (!$root.ViewingHistorical() && $root.isDailyPriceFileOutdated())" data-infotip="No [i]Daily Price File[/i] for Today[br /]Please upload a file"><i class="fa fa-times"></i><i class="fa fa-file-o"></i></span>

                                        <span class="text-danger latest-js-price-file-icon" data-bind="visible: (!$root.ViewingHistorical() && $root.hasDailyPriceFile() && $root.hasLatestJsPriceDataForToday())" data-infotip="Disabled Overrides" >
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </div>
                                </td>

                                <td class="col-tomorrow-price-change" data-bind="css: (UpDownCellCss())">
                                    <i data-bind="attr: {class: (UpDownIconCss()), 'data-infotip': FuelPrice.UpDownInfoTip()}"></i>
                                    &nbsp;<span class="price-diff" data-bind="text: (UpDownText()), css: UpDownTextCss(), attr: {'data-infotip': FuelPrice.UpDownInfoTip()}"></span>
                                </td>

                                <!-- /ko -->
                                <!-- ko if: !siteSupportsFuel -->
                                <td class="dividerLeft" data-infotip="Site does not support fuel">n/a</td>
                                <td class="dividerLeft" data-infotip="Site does not support fuel">n/a</td>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>
                            <!-- /ko -->

                            <tr class="site-spacer-row">
                                <td colspan="16">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Competitor Sites price grid -->
                                @Html.Partial("~/Views/Sites/Pricing/_CompetitorSitePriceGridTable.cshtml", Model)
                    <!-- end Competitor Sites price grid -->
                </div>

                <div class="row" style="margin-top: 4px; padding-top: 4px; border-top: 1px solid #ccc;">
                    <div class="col-md-6 text-danger">
                        <div class="sorting-pause-message" data-bind="visible: $root.sortHasBeenPaused()" style="display: none;">
                            <i class="fa fa-warning"></i>
                            <strong>Note:</strong> Editing an <strong>Override Price</strong> has paused the sorting.
                            <button type="button" class="btn btn-xs btn-default" data-bind="click: $root.resumeSorting"><i class="fa fa-sort"></i> Resume</button>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-4">
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-sm btn-primary" data-click="setExpandMode" data-mode="collapsed" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid collapsed" data-infotip="Collapse the Pricing Grid"><i class="fa fa-toggle-up"></i> Collapse</button>
                            <button type="button" class="btn btn-sm" data-click="setExpandMode" data-mode="expanded" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid expanded" data-infotip="Expand the Pricing Grid"><i class="fa fa-toggle-down"></i> Expand</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <br />
                            }
<script>
    require(["Prices"],
        function(prices) {
            var pagedataJSON = '@Html.ToJson(Model.PageData)';
            prices.init(pagedataJSON);
        }
    );
</script>
