@using JsPlc.Ssc.PetrolPricing.Models
@model JsPlc.Ssc.PetrolPricing.Models.SiteViewModel

@{
    ViewBag.Title = "Site Prices";
}

<link href="~/Content/prices.css" rel="stylesheet" />

 @using (Html.BeginForm())
{
<h1><i class="fa fa-gbp"></i> Market comparison and planner</h1>
    <hr style="width:1280px;" />
<!-- knockout binds here -->
    <div id="petrolpricingpage" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">
        <!-- competitor notes popup -->
        @Html.Partial("~/Views/Sites/Pricing/_CompetitorNotePopup.cshtml", Model)
        <!-- end competitor notes popup within knockout -->

        <!-- Competitor Prices Popup -->
        @Html.Partial("~/Views/Sites/Pricing/_CompetitorPriceGridPopup.cshtml", Model)
        <!-- END Competitor Prices Popup -->

        <!-- Email ALL popup within knockout -->
        @Html.Partial("~/Views/Sites/Pricing/_EmailAllSitesPopup.cshtml", Model)
        <!-- END Email ALL popup within knockout -->

        <!-- Email popup within knockout -->
        @Html.Partial("~/Views/Sites/Pricing/_EmailSitePopup.cshtml", Model)
        <!-- End Email popup within knockout -->

        <!-- Submit disabled, all work done thru ajax calls -->
        <form id="myform" method="post" data-bind="submit: savePetrolPricingForm" xclass="input-group-sm" action="sites/PostPrices" onsubmit="return false;" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">
            <div class="row pricing-filters-row" onclick="IsSitePriceFormClicked=1;" style="width:1280px;">
                <!-- Date Picker -->
                <div class="col-md-1">
                    <label for="viewingDate">Date:</label> <button type="button" class="btn btn-xs btn-danger" data-bind="visible: $root.ViewingHistorical, click: $root.resetViewingDate" style="display: none;" data-infotip="View Today's Prices'"><i class="fa fa-power-off"></i> Reset</button>
                    <input type="text" id="viewingDate" class="datepicker form-control" onmousedown="IsSitePriceFormClicked=1;" onclick="IsSitePriceFormClicked=1;"
                           style="width: 85px" name="viewingDate" maxlength="12"
                           data-bind="value: $root.InitDate" data-infotip="Enter a [b]Date[/b] to view" />
                </div>
                <!-- Store No -->
                <div class="col-md-1">
                    <label for="viewingStoreNo">Store No:</label>
                    <input type="text" id="viewingStoreNo" class="form-control" maxlength="9" style="width: 70px;"
                           name="viewingStoreNo" data-bind="numeric, value: $root.StoreNo" data-infotip="Enter a [b]Store No[/b]" />
                </div>
                <!-- Store Name -->
                <div class="col-md-2">
                    <label for="viewingStoreName">Store Name:</label>
                    <input type="text" id="viewingStoreName" class="form-control" maxlength="50"
                           name="viewingStoreName" data-bind="value: $root.StoreName" data-infotip="Enter a [b]Store Name[/b]" />
                </div>
                <!-- Store Town -->
                <div class="col-md-2">
                    <label for="viewingStoreTown">Store Town:</label>
                    <input type="text" id="viewingStoreTown" class="form-control" maxlength="50"
                           name="viewingStoreTown" data-bind="value: $root.StoreTown" data-infotip="Enter a [b]Store Town[/b]" />
                </div>
                <!-- Catalist No -->
                <div class="col-md-1" style="width: 100px;">
                    <label for="viewingCatNo">Catalist No:</label>
                    <input type="text" id="viewingCatNo" class="form-control" maxlength="9" style="width: 70px;"
                           name="viewingCatNo" data-bind="numeric, value: $root.CatNo" data-infotip="Enter a [b]Catalist No[/b]" />
                </div>
                <!-- go button -->
                <div class="col-md-1">
                    <label>&nbsp;</label><br />
                    <button type="button" id="btnGO" class="btn btn-success" data-bind="click: loadPageWithParams" data-infotip="Filter the Site Prices"><i class="fa fa-filter"></i> Go</button>
                </div>
                <!-- show all button -->
                <div class="col-md-1">
                    <label>&nbsp;</label><br />
                    <button type="button" class="btn btn-default" data-bind="click: function() { reloadSearchPage('Sites/Prices?date='+$root.InitDateInUsFormat()) }" data-infotip="Show All the Site Prices"><i class="fa fa-search"></i> Show all</button>
                </div>
                <!-- ExportToExcel button -->
                <div class="col-md-3 text-right last-col">
                    <label>&nbsp;</label>
                        <label class="button"></label>
                    <div>
                        <button type="button" style="margin-left:0px " class="btn btn-primary" id="btnExportAll" data-infotip="Export [b]All[/b] Sites"><i class="fa fa-download"></i> Export ALL</button>
                        <button type="button" style="margin-left:0px" class="btn btn-primary" id="btnExportSites" data-infotip="Export [b]Sainsbury's'[/b] Sites Only"><i class="fa fa-download"></i> Export JS Sites</button>
                    </div>
                </div>
            </div>
            <hr style="width:1280px;" />
            <div class="row">
                <div class="col-md-2">
                    <label>Price changes: </label>
                    <!-- ko if: !$root.priceChangeFilterDown() || !$root.priceChangeFilterNone() || !priceChangeFilterUp() -->
                    <button class="btn btn-danger btn-xs" style="margin-left: 2.5em" data-bind="click: resetPriceChangeFilters"><i class="fa fa-power-off"></i> Reset</button>
                    <!-- /ko -->
                    <br />
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm" data-bind="click: togglePriceChangeFilterDown, css: {'btn-primary': $root.priceChangeFilterDown()}" data-infotip="Toggle [b]Downward[/b] Price Changes"><i class="fa fa-arrow-down"></i> Down</button>
                        <button type="button" class="btn btn-sm" data-bind="click: togglePriceChangeFilterNone, css: {'btn-primary': $root.priceChangeFilterNone()}" data-infotip="Toggle [b]Non-moving[/b] Price Changes"><i class="fa fa-minus"></i> None</button>
                        <button type="button" class="btn btn-sm" data-bind="click: togglePriceChangeFilterUp, css: {'btn-primary': $root.priceChangeFilterUp()}" data-infotip="Toggle [b]Upward[/b] Price Changes"><i class="fa fa-arrow-up"></i> Up</button>
                    </div>
                </div>

                <div class="col-md-10">
                    <label>Excluded Brands</label><br />
                    @Html.ListBoxFor(model => model.ExcludeBrands, new MultiSelectList(Model.AllBrands), new { @data_placeholder = "Select Brands...", @class = "chosen-select", style = "width: 100%;", id = "lstbxexcludebrands" })
                </div>
            </div>
            <br />

            <div class="row" style="margin-bottom: 4px; padding-bottom: 4px;">
                <div class="col-md-3 col-md-offset-9">
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-sm btn-primary" data-click="setExpandMode" data-mode="expanded" data-states="expanded,collapsed" data-target="#PriceDifferencePanel" data-message="Showing Bar Chart" data-infotip="Show the [b]Competitor Price Differences[/b] Bar Chart"><i class="fa fa-toggle-down"></i> Show</button>
                        <button type="button" class="btn btn-sm" data-click="setExpandMode" data-mode="collapsed" data-states="expanded,collapsed" data-target="#PriceDifferencePanel" data-message="Hiding Bar Chart" data-infotip="Hide the [b]Competitor Price Differences[/b] Bar Chart"><i class="fa fa-toggle-up"></i> Hide</button>
                    </div>
                </div>
            </div>

            <div id="PriceDifferencePanel" class="row font125pc">
                <div class="col-md-12" data-bind="with: dataModel, visible: !$root.dataLoading()" style="display: none;">
                    <div id="PriceDifferenceBarChart" data-bind="css: ('col-md-10 ' + $root.priceDiffBarChartFiltersCss() )"></div>
                </div>
            </div>

            <hr style="width:1280px;" />
            <div style="display: none" class="alert alert-danger" data-bind="visible: $root.HasValidationErrors() || $root.HasErrorMessage()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-8" style="padding-top: 2px"><strong><span id="msgError"></span></strong></div>
                <div class="clearfix"></div>
            </div>
            <div style="display: none" class="alert alert-warning" data-bind="visible: !$root.hasAnyFieldErrors() && !$root.HasValidationErrors() && $root.HasUnsavedChanges() && !$root.ViewingHistorical() && !$root.hasBadPriceChangeValue()">
                <div class="col-md-1 text-center"><i class="fa fa-question-circle fa-2x"></i></div>
                <div class="col-md-8">
                    <strong>
                        You have unsaved changes. Would you like to save them?
                    </strong>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-success btn-block" data-bind="click: savePetrolPricingForm" data-infotip="Save the changes">
                        <i class="fa fa-check"></i> Yes
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div style="display: none" class="alert alert-success" data-bind="visible: $root.HasSuccessMessage()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-4" style="padding-top: 2px"><span id="msgSuccess"></span></div>
                <div class="clearfix"></div>
            </div>

            <div style="display: none;" class="alert alert-danger" data-bind="visible: $root.hasBadPriceChangeValue()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-10">
                    <strong>Please enter a valid value for the price change for <span id="msgFuelTypeError"></span>.</strong>
                </div>
                <div class="col-md-1 pull-right">
                    <span class="clickable btn btn-default" data-bind="click:closeWarningPanel" data-infotip="Close the warning message">
                        <i class="fa fa-close"></i> Close
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>

            <div style="display:none;" class="alert alert-danger" data-bind="visible: $root.hasAnyFieldErrors() && !$root.HasValidationErrors()">
                <div class="col-md-1 text-center"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
                <div class="col-md-10">
                    <strong>There are <span data-bind="text: fieldErrorCount()"></span> field errors. Please correct and retry.</strong>
                </div>
                <div class="col-md-1">
                    <button data-bind="click: $root.gotoFirstInvalidOverrideField" type="button" class="btn btn-danger" data-infotip="Go to first error"><i class="fa fa-chevron-right"></i> First</button>
                </div>

                <div class="clearfix"></div>
            </div>

            <div style="display:block;" class="alert alert-warning busy-loader" data-bind="visible: $root.busyLoadingData()">
                <div class="col-md-1 text-center"><i class="fa fa-clock-o fa-2x spinner"></i></div>
                <div class="col-md-10 text-center">
                    <strong>Loading Sales Pricing information. Please wait...</strong>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="table-responsive" onclick="IsSitePriceFormClicked=1;" style="width: 1280px;">


                <div class="row" data-bind="visible: !$root.ViewingHistorical()">
                    <!-- Price Change Type -->
                    <div class="col-md-2">
                        <strong>Price change type:</strong>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-primary" data-bind="css: {'btn-primary': $root.changeType() == $root.changeTypeValuePlusMinus}, click: setOverrideModePlusMinus" data-infotip="Switch to [b]Plus/Minus[/b] Mode">(+/-n)</button>
                            <button type="button" class="btn btn-sm btn-default" data-bind="css: {'btn-primary' : $root.changeType() == $root.changeTypeValueOverrideAll} ,click: setOverrideModeOverrideAll" data-infotip="Switch to [b]Override Price[/b] Mode">Override all</button>
                        </div>
                    </div>
                    <div class="col-md-2" style="width: 18em;">
                        <div class="input-group">
                            <span class="input-group-addon" data-bind="text: changeType"></span>
                            <input type="text" class="form-control input-override" maxlength="8" data-bind="value: $root.unleadedOffset" data-infotip="Enter a value for [b]Unleaded[/b]" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-go" data-bind="click: changePricePerLitreUnleaded" data-infotip="Update all the [b]Unleaded[/b] Prices">Go</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2" style="width: 18em;">
                        <div class="input-group">
                            <span class="input-group-addon" data-bind="text: changeType"></span>
                            <input type="text" class="form-control input-override" maxlength="8" data-bind="value: $root.dieselOffset" data-infotip="Enter a value for [b]Diesel[/b]" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-go" data-bind="click: changePricePerLitreDiesel" data-infotip="Update all the [b]Diesel[/b] Prices">Go</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2" style="width: 18em;">
                        <div class="input-group">
                            <span class="input-group-addon" data-bind="text: changeType"></span>
                            <input type="text" class="form-control input-override" maxlength="8" data-bind="value: $root.superOffset" data-infotip="Enter a value for [b]Super Unleaded[/b]" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-go" data-bind="click: changePricePerLitreSuper" data-infotip="Update all the [b]Super Unleaded[/b] Prices">Go</button>
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <!-- highlighers -->
                <div class="row" style="margin-bottom: 4px; padding-bottom: 4px; border-bottom: 1px solid #ccc;">
                    <div class="col-md-2">
                        <strong>Price Highlighting:</strong>
                    </div>

                    <div class="col-md-4">
                        <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightTrialPrices, css: {'btn-primary': $root.highlightTrialPrices()}" data-infotip="Toggle the [b]Trial Prices[/b] Highlighting"><i class="fa fa-flask "></i> Trial Prices</button>
                        <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightMatchCompetitors, css: {'btn-primary': $root.highlightMatchCompetitors()}" data-infotip="Toggle the [b]Match Competitors[/b] Highlighting"><i class="fa fa-clone"></i> Match Competitors</button>
                        <button type="button" class="btn btn-sm" data-bind="click: toggleHighlightNoNearbyGrocerPrices, css: {'btn-primary': $root.highlightNoNearbyGrocerPrices() }" data-infotip="Toggle missing [b]Grocer Prices[/b] highlighting"><i class="fa fa-question"></i> No Grocer Prices</button>
                        <button type="button" class="btn btn-sm btn-danger" data-bind="visible: ($root.highlightTrialPrices() || $root.highlightMatchCompetitors() || $root.highlightNoNearbyGrocerPrices()), click: resetPriceHighlighting" data-infotip="Hide all the Highlighting"><i class="fa fa-power-off "></i> Reset</button>
                    </div>

                    <div class="col-md-3">
                    </div>

                    <div class="col-md-3 col">
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-sm btn-primary" data-click="setExpandMode" data-mode="collapsed" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid collapsed" data-infotip-dock="below" data-infotip="Collapse the Pricing Grid"><i class="fa fa-toggle-up"></i> Collapse</button>
                            <button type="button" class="btn btn-sm" data-click="setExpandMode" data-mode="expanded" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid expanded" data-infotip-dock="below" data-infotip="Expand the Pricing Grid"><i class="fa fa-toggle-down"></i> Expand</button>
                        </div>
                    </div>
                </div>

                <!-- start grid header -->
                <table class="pricing-grid">
                    <thead>
                        <!-- first row -->
                        <tr>
                            <th class="col-header-competitor">#</th>
                            <th class="col-header-store-no">Store No.</th>
                            <th class="col-header-email">@@</th>
                            <th class="col-header-store-name">Store Name</th>
                            <th class="col-header-store-town">Store Town</th>
                            <th class="col-header-cat-no">Cat No.</th>
                            <th class="col-header-pfs-no">PFS No.</th>
                            <th class="col-header-unleaded" colspan="2">
                                <h4>
                                    <span class="label label-success">&nbsp;Unleaded&nbsp;</span>
                                </h4>
                            </th>
                            <th class="col-header-diesel" colspan="2">
                                <h4>
                                    <span class="label label-black">&nbsp;Diesel&nbsp;</span>
                                </h4>
                            </th>
                            <th class="col-header-super-unleaded" colspan="2">
                                <h4>
                                    <span class="label label-success-inverted">&nbsp;Super Unleaded&nbsp;</span>
                                </h4>
                            </th>
                        </tr>

                        <!-- second row -->
                        <tr>
                            <th colspan="3">
                                <!-- EMAIL all Button, only loads popup -->
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#emailAllSites" data-infotip="Email [b]All[/b] Sites"
                                        data-bind="visible: !$root.ViewingHistorical() && $root.dataAvailable() == true">
                                    Email all &nbsp;<i class="fa fa-envelope-o"></i>
                                </button>
                            </th>
                            <th colspan="4"></th>
                            <th class="col-header-yesterday-unleaded">
                                <span id="today1">-</span>
                            </th>
                            <th class="col-header-tomorrow-unleaded">
                                <span id="tomorrow1">-</span>
                            </th>
                            <th class="col-header-yesterday-diesel">
                                <span id="today2">-</span>
                            </th>
                            <th class="col-header-tomorrow-diesel">
                                <span id="tomorrow2">-</span>
                            </th>
                            <th class="col-header-yesterday-super-unleaded">
                                <span id="today3">-</span>
                            </th>
                            <th class="col-header-tomorrow-super-unleaded">
                                <span id="tomorrow3">-</span>
                            </th>
                        </tr>
                    </thead>
                </table>
                <!-- end of grid header -->

                <hr style="padding:0px;margin:0px" />

                <div class="row" id="SorryNoResultsPanel" data-bind="visible: $root.shouldShowSorryResults" style="display: none; padding: 3em 2em;">
                    <div class="col-md-13 text-center font150pc">
                        Sorry, no data was found. Try a different search criteria or
                        <!-- ko if: !$root.priceChangeFilterUp() || !$root.priceChangeFilterDown() || !$root.priceChangeFilterNone() -->
                        <button type="button" class="btn btn-danger btn-sm" data-bind="click: resetPriceChangeFilters"><i class="fa fa-power-off"></i> Reset</button> the Price Change filters.
                        <!-- /ko -->
                    </div>
                </div>

                <!-- ko if: $root.busyLoadingData() -->
                <div class="row" style="padding: 3em 2em;">
                    <div class="col-md-13 text-center font150pc">
                        Loading Sales Pricing information. Please wait...
                    </div>
                </div>
                <!-- /ko -->

                <div id="PricingPanelScroller" class="actualdata collapsed" style="padding:0px;margin:0px; display: none;" data-bind="with: dataModel, visible: !busyLoadingData()">
                    <table class="pricing-grid">
                        <tbody>
                            <!-- JS Store DataRows -->
                            <!-- ko foreach: sites -->
                            <tr class="row site-row" role="tab" data-bind="id:('Heading' + SiteId), attr: {id: 'SiteHeading' + SiteId, 'data-price-change-signs': (priceChangeSigns())}, css: (siteRowCss())">
                                <td class="col-competitor">
                                    <a role="button" data-toggle="modal" data-bind="attr:{id: SiteId}, click: getCompetitorPopupDataClick"
                                       data-target="#competitorPricesPopup" data-infotip="View competitor's prices">
                                        <i class="fa fa-credit-card"></i>
                                    </a>
                                </td>
                                <td class="col-store-no text-center" data-bind="text: StoreNo"></td>
                                <!-- Email envelope... -->
                                <td class="col-email">
                                    <span>
                                        <!-- ko if: $root.ViewingHistorical()-->
                                        <i class="fa fa-clock-o" data-infotip="Viewing historical data" style="color: grey;"></i>
                                        <!-- /ko -->
                                        <!-- ko if: !$root.ViewingHistorical() -->
                                        <i class="fa fa-warning text-danger" data-bind="visible: !HasEmails" data-infotip="[i class='fa fa-warning'][/i] Site has no emails."></i>
                                        <a tabindex="-1" href="#" data-toggle="modal" data-target="#emailSite" data-bind="click: bindEmailTemplate" data-infotip="Email Site">
                                            <i class="fa fa-envelope-o" data-bind="visible: HasEmails && canSendEmail()"></i>
                                            <!-- ko if: hasEmailSendLogEntry() -->
                                            <!-- ko with: EmailSendLogEntry -->
                                            <i class="fa fa-check" data-bind="visible: IsSuccess, attr: {title:'Email sent..'}" style="color: green"></i>
                                            <i class="fa fa-warning" data-bind="visible: IsWarning, attr: {title:WarningMessage}" style="color: orange"></i>
                                            <i class="fa fa-ban" data-bind="visible: IsError, attr: {title:ErrorMessage}" style="color: red"></i>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                        </a>
                                        <!-- /ko -->
                                    </span>
                                </td>
                                <td class="col-store-name"><a tabindex="-1" data-bind="attr: {'href': ('@Url.Action("Edit", "Sites")/' + SiteId), 'data-infotip': 'Edit Site [b]' + StoreName + '[/b]'}"><span data-bind="text: StoreName"></span> <i class="fa fa-edit"></i></a></td>
                                <td class="col-store-town"><span data-bind="text: Town"></span></td>
                                <td class="col-cat-no text-center"><span data-bind="text: CatNo"></span></td>
                                <td class="col-pfs-no text-center"><span data-bind="text: PfsNo"></span></td>

                                <!-- ko foreach: FuelPricesToDisplay -->
                                <!-- ko if: siteSupportsFuel -->
                                <td data-bind="css: ('col-yesterday' + (isEditingFuel() ? ' col-editing' : '') + (hasValidValue() ? ' col-valid' : ' col-invalid'))">
                                    <span data-bind="css: ('fuel-price-change-' + UpDownSignCss()), html: FuelPrice.ForecourtTodayPriceHtml, attr: {'data-infotip': FuelPrice.CurrentPriceInfoTip()}"></span>
                                </td>
                                <td data-bind="css: ('col-today' + (isEditingFuel() ? ' col-editing' : '') + (hasValidValue() ? ' col-valid' : ' col-invalid'))">
                                    <div data-bind="css: ('fuel-price-change-' + UpDownSignCss())">
                                        <!-- ko if: FuelPrice.IsTrailPrice -->
                                        <span class="padded-price-right trial-price" data-bind="attr: {'data-infotip': FuelPrice.TrialPriceInfoTip()}, html: FuelPrice.ForecourtAutoPriceHtml()"></span>
                                        <!-- /ko -->
                                        <!-- ko if: !FuelPrice.IsTrailPrice -->
                                        <span class="padded-price-right match-competitor-price" data-bind="attr: {'data-infotip': FuelPrice.MatchCompetitorInfoTip()}, html: FuelPrice.ForecourtAutoPriceHtml()"></span>
                                        <!-- /ko -->

                                        <!-- ko if: $parent.HasNearbyGrocerPrice -->
                                        <span class="past-override-text" data-bind="visible: $root.ViewingHistorical()" data-infotip="Historical Prices"><i class="fa fa-clock-o"></i> Past</span>
                                        <input type="text" data-bind="value: FuelPrice.OverridePrice, visible: !$root.ViewingHistorical(),
                                id: ('OverridePrice_' + $parent.SiteId + '_' + FuelPrice.FuelTypeId), event:{keyup: changeProp, blur: blurred, focus: focused}, css: ('txtPrice ' + OverrideInputCss()), attr: {'data-infotip': FuelPrice.PriceOverrideInfoTip()}" maxlength="8" />
                                        <!-- /ko -->
                                        <!-- ko if: !$parent.HasNearbyGrocerPrice -->
                                        <span class="no-nearby-grocer-price" data-infotip="[b]No Grocer[/b] Price data within [b]5 Minutes[/b]"><i class="fa fa-clone"></i>-<i class="fa fa-question"></i></span>
                                        <!-- /ko -->

                                        @*<span data-bind="attr :{id: ('OverridePriceHighlight_' + $parent.SiteId + '_' + FuelPrice.FuelTypeId)}"></span>*@
                                        <!-- note: override prices can be extracted using $('#SiteId-FueldTypeId-overridePrice') -->
                                        <i data-bind="attr: {class: (UpDownIconCss()), 'data-infotip': FuelPrice.UpDownInfoTip()}"></i>
                                        &nbsp;<span class="price-diff" data-bind="text: (UpDownText()), attr: {'data-infotip': FuelPrice.UpDownInfoTip()}"></span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: !siteSupportsFuel -->
                                <td class="dividerLeft" data-infotip="Site does not support fuel">n/a</td>
                                <td class="dividerLeft" data-infotip="Site does not support fuel">n/a</td>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>

                    <!-- Competitor Sites price grid -->
                    @Html.Partial("~/Views/Sites/Pricing/_CompetitorSitePriceGridTable.cshtml", Model)
                    <!-- end Competitor Sites price grid -->
                </div>

                <div class="row" style="margin-top: 4px; padding-top: 4px; border-top: 1px solid #ccc;">
                    <div class="col-md-3 col-md-offset-9">
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-xs btn-primary" data-click="setExpandMode" data-mode="collapsed" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid collapsed" data-infotip="Collapse the Pricing Grid"><i class="fa fa-toggle-up"></i> Collapse</button>
                            <button type="button" class="btn btn-xs" data-click="setExpandMode" data-mode="expanded" data-states="expanded,collapsed" data-target="#PricingPanelScroller" data-message="Price grid expanded" data-infotip="Expand the Pricing Grid"><i class="fa fa-toggle-down"></i> Expand</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
<br />
}

<script src="~/Scripts/App/prices.js"></script>
