@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.SiteEmailsPageViewModel

@{
    ViewBag.Title = "SiteEmails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var siteCount = Model.SiteEmails.Select(x => x.SiteId).Distinct().Count();
    var emailCount = Model.SiteEmails.Count(x => x.EmailAddress != "");
}

<style>
    .email-table {
        table-layout: fixed;
        width: 1124px;
    }
        .email-table .email-store-no {
            width: 70px;
            text-align: right;
            padding-right: 2em;
        }

        .email-table .email-site-name {
            width: 240px;
            text-align: left;
            overflow: hidden;
        }

        .email-table .email-cat-no {
            width: 70px;
            text-align: right;
            padding-right: 2em;
        }

        .email-table .email-pfs-no {
            width: 70px;
            text-align: right;
            padding-right: 2em;
        }

        .email-table .email-address {
            width: 200px;
            text-align: left;
        }

        .email-table .email-is-active {
            width: 24px;
        }

        .email-site-name a {
            color: orange;
            font-weight: bold;
        }

    .email-table-scroller {
        max-height: 500px;
        overflow: auto;
    }

    .table > tbody > tr.row-site-inactive {
        color: #000;
        background-color: #ccc;
    }

        .table > tbody > tr.row-site-inactive .email-site-name a {
            color: #000;
        }

    .mono-font {font-family: monospace;}
</style>

<div class="row">
    <div class="col-md-3">
        <h1>
            <i class="fa fa-gear"></i> Site Email Addresses
        </h1>
    </div>
    <div class="col-md-3 newline font125pc">
        <span class="label label-default">Sites: <i class="badge font125pc">@(siteCount)</i></span> <span class="label label-default">Emails: <i class="badge font125pc">@(emailCount)</i></span>
    </div>

    <div class="col-md-4 newline">
        <button type="button" class="btn btn-danger" data-click="deleteAllEmails" data-infotip="Delete [b]All[/b] the Site Email Addresses"><i class="fa fa-eraser"></i> Delete All</button>
        <a class="btn btn-primary" href="@Url.Action("UploadSiteEmails", "Sites")" data-infotip="Import the Email Addresses"><i class="fa fa-upload"></i> Import Emails...</a>
    </div>
    <div class="col-md-1 col-md-offset-1 newline">
        <button type="button" class="btn btn-success pull-right" data-click="exportEmails" data-infotip="Export the Email Addresses"><i class="fa fa-download"></i> Export Emails</button>
    </div>
</div>

<div class="row newline">
    <div class="col-md-10 col-md-offset-1 text-center">
        @if (Model.SystemSettings.EnableSiteEmails)
        {
            <div class="alert alert-danger">
                <i class="fa fa-warning"></i> <strong>Note:</strong> the <strong>LIVE</strong> Site Email Addresses below will be used when sending emails to sites. &mdash;
                (See <a class="page-link" href="@Url.Action("Index", "Settings")" data-infotip="Open the [b]Settings page[/b]">Settings page</a> to change this.)
            </div>
        }

        @if (!Model.SystemSettings.EnableSiteEmails)
        {
            <div class="alert alert-info">
                <strong class="info-link" data-infotip-dock="below" data-infotip="@(Model.SystemSettings.SiteEmailTestAddresses.Replace(";", "<br />"))"><i class="fa fa-info-circle"></i> These Testing Email Addresses</strong> will be used to send emails and <strong>NOT</strong> the <strong>LIVE</strong> ones shown below &mdash;
                (See <a class="page-link" href="@Url.Action("Index", "Settings")" data-infotip="Open the [b]Settings page[/b]">Settings page</a> to change this.)
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label>Active Sites</label><br />
        <div class="btn-group" data-choose-one-group="active-choose-group">
            <button type="button" class="btn btn-primary" data-click="toggleActiveSites" data-infotip="Show [b]Active[/b] Sites"><i class="fa fa-check-square"></i> Active Sites</button>
            <button type="button" class="btn btn-primary" data-click="toggleInactiveSites" data-infotip="Show [b]Inactive[/b] Sites"><i class="fa fa-square"></i> Inactive Sites</button>
            <button type="button" class="btn btn-warning" data-click="clearActiveFilters" data-infotip="Clear the [b]Active/Inactive[/b] Site filters"><i class="fa fa-eraser"></i></button>
        </div>
    </div>
    <div class="col-md-3">
    <label>Emails</label>
        <div class="btn-group" data-choose-one-group="email-choose-group">
            <button type="button" class="btn btn-primary" data-click="toggleWithEmails" data-infotip="Show Sites [b]With[/b] Email addresss"><i class="fa fa-at"></i> With Emails</button>
            <button type="button" class="btn btn-primary" data-click="toggleWithNoEmails" data-infotip="Show Sites with [b]No[/b] Email addresss"><i class="fa fa-square-o"></i> No Emails</button>
            <button type="button" class="btn btn-warning" data-click="clearEmailFilters" data-infotip="Clear the [b]Email[/b] Site filters"><i class="fa fa-eraser"></i></button>
        </div>
    </div>

    <div class="col-md-2 newline">
        <button type="button" class="btn btn-warning" data-click="clearAllFilters" data-infotip="Clear [b]All[/b] the filters"><i class="fa fa-eraser"></i> Clear All</button>
    </div>

    <div class="col-md-4 newline font125pc">
        <label>
            Showing: <span id="spnShowingInfo"></span>
        </label>
    </div>

</div>


<div class="row">
    <div class="col-md-12 newline">
        <table class="table table-condensed table-striped email-table" style="margin-bottom: 0;">
            <thead>

                <tr>
                    <th class="email-store-no">Store No</th>
                    <th class="email-site-name">Site Name</th>
                    <th class="email-cat-no">CatNo</th>
                    <th class="email-pfs-no">PfsNo</th>
                    <th class="email-address">Email Addresses</th>
                    <th class="email-is-active">Active</th>
                </tr>

                <tr>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon">=</span>
                            <input type="text" id="txtSearchStoreNo" class="form-control input-xs" />
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon">Contains</span>
                            <input type="text" id="txtSearchSiteName" class="form-control input-xs" />
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon">=</span>
                            <input type="text" id="txtSearchCatNo" class="form-control input-xs" />
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon">=</span>
                            <input type="text" id="txtSearchPfsNo" class="form-control input-xs" />
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon">Starts</span>
                            <input type="text" id="txtSearchEmail" class="form-control input-xs" />
                        </div>
                    </th>
                    <th>
                    </th>
                </tr>

            </thead>
        </table>
        <div class="email-table-scroller">
            <table class="table table-condensed table-striped email-table">
                <tbody>
                    @if (!Model.SiteEmails.Any())
                    {
                        <tr>
                            <td colspan="2" class="text-center font125pc">There are no Site Email Addresses.</td>
                        </tr>
                    }
                    @foreach (var item in Model.SiteEmails)
                    {
                        var isEmptyEmail = String.IsNullOrEmpty(item.EmailAddress);
                        var isNonSainsburysEmail = !item.EmailAddress.ToUpper().EndsWith("@SAINSBURYS.CO.UK");
                        var rowCss = (item.IsSiteActive ? "row-site-active" : "row-site-inactive")
                            + (isEmptyEmail ? " row-has-no-email" : " row-has-email");
                        <tr class="@(rowCss)">
                            <td class="email-store-no">
                                @if (item.StoreNo == 0)
                                {
                                    <span class="text-danger" data-infotip="[b]StoreNo[/b] is [i]Missing[/i]"><i class="fa fa-warning"></i></span>
                                }
                                else
                                {
                                    <span>@item.StoreNo</span>
                                }
                            </td>
                            <td class="email-site-name">
                                <a href="@Url.Action("Edit","Sites")/?id=@(item.SiteId)&amp;calledFromSection=SiteEmails" data-infotip="Edit the Site">
                                    @(item.StoreName.Replace("SAINSBURYS", ""))
                                </a></td>
                            <td class="email-cat-no">
                                @if (item.PfsNo == 0)
                                {
                                    <span class="text-danger" data-infotip="[b]CatNo[/b] is [i]Missing[/i]"><i class="fa fa-warning"></i></span>
                                }
                                else
                                {
                                    <span>@item.CatNo</span>

                                }
                            </td>
                            <td class="email-pfs-no">
                                @if (item.PfsNo == 0)
                                {
                                    <span class="text-danger" data-infotip="[b]CatNo[/b] is [i]Missing[/i]"><i class="fa fa-warning"></i></span>
                                } else
                                {
                                    <span>@item.PfsNo</span>

                                }
                            </td>
                            <td class="email-address">
                                @if (isEmptyEmail)
                                {
                                    <span class="text-danger mono-font" data-infotip="There are [em]no[/em] Emails for this Site "><i class="fa fa-warning"></i> &mdash; No Email Address</span>
                                }
                                else if (isNonSainsburysEmail)
                                {
                                    <span class="text-danger mono-font" data-infotip="Email is [b]Not[/b] a Sainsbury's email address."><i class="fa fa-warning"></i> @(item.EmailAddress)</span>
                                }
                                else
                                {
                                    <span class="text-success mono-font" data-infotip="Email is a Sainsbury's email address.">@(item.EmailAddress)</span>
                                }
                            </td>
                            <td class="email-is-active">
                                @if (item.IsSiteActive)
                                {
                                    <span class="text-success" data-infotip="Site is Active"><i class="fa fa-check"></i></span>
                                }
                                else
                                {
                                    <span class="text-danger" data-infotip="Site is [b]Not[/b] Active"><i class="fa fa-times"></i></span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row newline">
    <div class="col-md-1">
        <a class="btn btn-default" href="@Url.Action("Index", "Sites")"><i class="fa fa-backward"></i> Back to Site Maintenance</a>
    </div>
</div>

<script type="text/javascript">
    require(["SiteEmails", "infotips"],
        function (siteEmails, infotips) {
        }
    );
</script>