@using System.Globalization
@using JsPlc.Ssc.PetrolPricing.Portal.Helper.Extensions
@model IEnumerable<JsPlc.Ssc.PetrolPricing.Models.FileUpload>

@{ 
    var statusMarkup = new Dictionary<string, string>()
    {
        {"Calculating", "<span class='label label-info'><i class='fa fa-calculator'></i> Calculating</span>" },
        {"Failed", "<span class='label label-danger'><i class='fa fa-times-circle'></i> Failed</span>" },
        {"Processing", "<span class='label label-success'><i class='fa fa-fa-cog'></i> Processing</span>" },
        {"Success", "<span class='label label-success'><i class='fa fa-check-circle'></i> Success</span>" },
        {"Uploaded", "<span class='label label-info'><i class='fa fa-upload'></i> Uploaded</span>" },
        {"Warning", "<span class='label label-warning'><i class='fa fa-warning'></i> Warning</span>" }
    };

    var previousDaysAgo = -1;
}

@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OriginalFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadType.UploadTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedBy)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            var daysAgo = DateTime.Now.Date.Subtract(item.UploadDateTime.Date).TotalDays;
            var wasToday = daysAgo < 1;
            var wasYesterday = daysAgo == 1;
            var rowClass = wasToday ? "uploaded-today" : wasYesterday ? "uploaded-yesterday" : "";
            <tr class="@rowClass">
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalFileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadType.UploadTypeName)
                </td>
                <td data-infotip="Uploaded on [b]@(item.UploadDateTime.ToString("dd-MMM-yyyy"))[/b] at [b]@(item.UploadDateTime.ToString("HH:mm:ss"))[/b]">
                    @if (wasToday || wasYesterday)
                    {
                       <strong>@Html.FormatFriendlyDateTime(item.UploadDateTime)</strong>
                    }
                    else
                    {
                        @Html.FormatFriendlyDateTime(item.UploadDateTime)
                    }
                </td>
                <td>
                    @if (statusMarkup.ContainsKey(item.Status.Status))
                    {
                @Html.Raw(statusMarkup[item.Status.Status])
                    }
                    else
                    {
                        <span class='label label-warning'><i class='fa fa-warning'></i> @item.Status.Status</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedBy)
                </td>
                <td>
                    <a href="@Url.Action("Details", "File")/@item.Id">Details</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-info">No files uploaded yet</div>
}
