@using System.Globalization
@using JsPlc.Ssc.PetrolPricing.Portal.Helper.Extensions
@using JsPlc.Ssc.PetrolPricing.Core
@using JsPlc.Ssc.PetrolPricing.Models.ViewModels
@model IEnumerable<JsPlc.Ssc.PetrolPricing.Models.ViewModels.FileUploadViewModel>

@{
    var statusMarkup = new Dictionary<string, string>()
    {
        {"Calculating", "<span class='label label-info'><i class='fa fa-calculator'></i> Calculating</span>" },
        {"Failed", "<span data-infotip='[em]Failed[/em] upload' class='label label-danger'><i class='fa fa-times-circle'></i> Failed</span>" },
        {"Processing", "<span class='label label-success'><i class='fa fa-fa-cog'></i> Processing</span>" },
        {"Success", "<span data-infotip='[b]Successful[/b] upload' class='label label-success'><i class='fa fa-check-circle'></i> Success</span>" },
        {"Uploaded", "<span class='label label-info'><i class='fa fa-upload'></i> Uploaded</span>" },
        {"Warning", "<span class='label label-warning'><i class='fa fa-warning'></i> Warning</span>" }
    };

    var previousDaysAgo = -1;
}

@Html.Action("DataSanityCheckSummary", "Layout")


@if (Model != null && Model.Any())
{
    var firstDailyPriceUpload = Model.FirstOrDefault(x => x.UploadTypeId == (int)FileUploadTypes.DailyPriceData);
    var firstQuarterlyUpload = Model.FirstOrDefault(x => x.UploadTypeId == (int)FileUploadTypes.QuarterlySiteData);
    var firstLatestJSPriceUpload = Model.FirstOrDefault(x => x.UploadTypeId == (int)FileUploadTypes.LatestJsPriceData);
    var firstLatestCompUpload = Model.FirstOrDefault(x => x.UploadTypeId == (int)FileUploadTypes.LatestCompPriceData);

    <br />
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
        <strong>Jump to the Latest file: </strong>
        </div>
        <div class="col-md-9 jump-list">
            @if (firstDailyPriceUpload != null)
            {
                <span class="jump-link" data-scroll-to-element="#MostRecent_1" data-infotip="Jump to latest [b]Daily Price Data[/b] Upload"><i class="fa fa-level-down"></i> Daily Price Data</span>
            }
            else
            {
                <span class="text-info" data-infotip-dock="below" data-infotip="There is [i]No[/i] Daily Price Data"><i class="fa fa-times"></i><i class="fa fa-file-o"></i> Daily Price Data</span>
            }

            <span class="jump-divider">|</span>

            @if (firstQuarterlyUpload != null)
            {
                <span class="jump-link" data-scroll-to-element="#MostRecent_2" data-infotip="Jump to latest [b]Quarterly Site Data[/b] Upload"><i class="fa fa-level-down"></i> Quarterly Site Data</span>
            }
            else
            {
                <span class="text-danger" data-infotip-dock="below" data-infotip="There is [i]No[/i] Quarterly Site Data"><i class="fa fa-times"></i><i class="fa fa-file-o"></i> Quarterly Site Data</span>
            }

            <span class="jump-divider">|</span>

            @if (firstLatestJSPriceUpload != null)
            {
                <span class="jump-link" data-scroll-to-element="#MostRecent_3" data-infotip="Jump to latest [b]Quarterly Site Data[/b] Upload"><i class="fa fa-level-down"></i> Latest Js Price Data</span>
            }
            else
            {
                <span class="text-danger" data-infotip-dock="below" data-infotip="There is [i]No[/i] Latest Js Price Data file"><i class="fa fa-times"></i><i class="fa fa-file-o"></i> Latest Js Price Data</span>
            }

            <span class="jump-divider">|</span>

            @if (firstLatestCompUpload != null)
            {
                <span class="jump-link" data-scroll-to-element="#MostRecent_4" data-infotip="Jump to latest [b]Quarterly Site Data[/b] Upload"><i class="fa fa-level-down"></i> Latest Competitors Price Data</span>
            }
            else
            {
                <span class="text-danger" data-infotip-dock="below" data-infotip="There is [i]No [/i] Latest Competitors Price Data file"><i class="fa fa-times"></i><i class="fa fa-file-o"></i> Latest Competitors Price Data</span>
            }
        </div>

    </div>

    <br />
    <table class="table table-striped file-uploader-grid" style="margin-bottom: 0; width: 100%;">
        <thead>
            <tr class="header-row">
                <th class="column-1">
                </th>
                <th class="column-2">
                    @Html.DisplayNameFor(model => model.OriginalFileName)
                </th>
                <th class="column-3">
                    New
                </th>
                <th class="column-4">
                    @Html.DisplayNameFor(model => model.UploadType.UploadTypeName)
                </th>
                <th class="column-5">
                    Actions
                </th>
                <th class="column-6">
                    @Html.DisplayNameFor(model => model.UploadDateTime)
                </th>
                <th class="column-7">
                    @Html.DisplayNameFor(model => model.Status.Status)
                </th>
                <th class="column-8">
                    @Html.DisplayNameFor(model => model.UploadedBy)
                </th>
                <th class="column-9">

                </th>
            </tr>
        </thead>
        </table>

        <div class="file-upload-scroller">
            <table class="table table-striped file-uploader-grid">
                @foreach (var item in Model)
                        {
                            var uploadedDateTime = item.UploadDateTime;
                            var dataForDate = item.UploadTypeId == 1 ? uploadedDateTime.Date.AddDays(-1) : uploadedDateTime.Date;

                            var daysAgo = (int)DateTime.Now.Date.Subtract(uploadedDateTime.Date).TotalDays;
                            var wasToday = daysAgo < 1;
                            var wasYesterday = daysAgo == 1;
                            var friendlyDaysAgo = wasToday ? "Today" : wasYesterday ? "Yesterday" : daysAgo + " Days ago";
                            var rowClass = (wasToday ? "uploaded-today" : wasYesterday ? "uploaded-yesterday" : "")
                                + (item.FileExists ? " upload-file-exists" : " no-upload-file")
                                + (item.IsMostRecentForDate ? " most-recent-for-date" : " older-file");

                            var jumpIdAttr = item.IsMostRecentForDate
                                ? String.Format(" id='MostRecent_{0}'", item.UploadTypeId)
                                : "";

                            var dateHeaderCss = "date-header" + (wasToday ? " date-today" : wasYesterday ? " date-yesterday" : "");

                            var dateYYYY_mm_dd = item.UploadDateTime.Date.ToString("yyyy-MM-dd");

                            var uploadedInfoTip = String.Format("Uploaded on [b]{0}[/b] at [b]{1}[/b][br /]Data for [u]{2}[/u]",
                                uploadedDateTime.ToString("dd-MMM-yyyy"),
                                uploadedDateTime.ToString("HH:mm:ss"),
                                dataForDate.ToString("dd-MMM-yyyy")
                                );

                            if (item.IsForDifferentDay)
                            {
            <tr class="date-row dashed-divider">
                <td colspan="9"><h4 class="@(dateHeaderCss)"><a class="view-price-link" href="@Url.Action("Prices", "Sites")?date=@(dateYYYY_mm_dd)" data-infotip="View [b]Prices[/b] for this date"><i class="fa fa-calendar"></i> &nbsp;&nbsp; @(item.UploadDateTime.Date.ToString("dd-MMM-yyy")) &mdash; @(friendlyDaysAgo)</a></h4></td>
            </tr>
                }

            <tr class="@rowClass.Trim()" @Html.Raw(jumpIdAttr)>
                <td class="column-1">
                    @if (item.FileExists)
                    {
                        <a class="text-success" data-download="Downloading file..." href="@(Url.Action("Download", "File"))/@item.Id" data-infotip="Download the file [b]@(item.OriginalFileName)[/b]"><i class="fa fa-file"></i></a>
                        }
                </td>
                <td class="column-2">
                    @Html.DisplayFor(modelItem => item.OriginalFileName)
                </td>
                <td class="column-3">
                    @if (item.IsMostRecentForDate)
                    {
                        <i class="fa fa-star" data-infotip="Most Recent File"></i>
                        }
                        else
                        {
                        <i class="fa fa-circle-o" data-infotip="Older File."></i>
                        }
                </td>
                <td class="column-4">
                    @Html.DisplayFor(modelItem => item.UploadType.UploadTypeName)
                </td>

                <td class="column-5">
                    @if (item.UploadType.Id == (int)FileUploadTypes.JsPriceOverrideData && item.UploadDateTime.Date == DateTime.Now.Date)
                    {
                        <a href="@Url.Action("Prices", "Sites")?JsPriceOverrides=@item.Id" class="btn btn-warning btn-xs" data-infotip="Import the [b]Price Overrides[/b] using the main pricing page">Import</a>
                    }
                </td>

                <td class="column-6 text-center" data-infotip="@(uploadedInfoTip)">
                    @if (wasToday || wasYesterday)
                    {
                        <strong>@Html.FormatFriendlyDateTime(item.UploadDateTime)</strong>
                        }
                        else
                        {
                        @Html.FormatFriendlyDateTime(item.UploadDateTime)
                        }
                </td>
                <td class="column-7">
                    @if (statusMarkup.ContainsKey(item.Status.Status))
                    {
                        @Html.Raw(statusMarkup[item.Status.Status])
                        }
                        else
                        {
                        <span class='label label-warning'><i class='fa fa-warning'></i> @item.Status.Status</span>
                        }
                </td>
                <td class="column-8">
                    @Html.FormatEmailLink(item.UploadedBy)
                </td>
                <td class="column-8">
                    <a class="btn btn-primary btn-xs" href="@Url.Action("Details", "File")/@item.Id" data-infotip="View File Upload Details">Details</a>
                </td>
            </tr>
            }
            </table>
        </div>
}
else
{
        <div class="alert alert-info">
            <strong>
                <i class="fa fa-info-circle fa-2x"></i> No files uploaded yet
                &mdash; Please upload a <a href="@Url.Action("Upload","File")/?uploadType=QuarterlySiteData" class="btn btn-success"><i class="fa fa-upload"></i> Quarterly Price Data</a> and one or more <a href="@Url.Action("Upload", "File")/?uploadType=DailyPriceData" class="btn btn-success"><i class="fa fa-upload"></i> Daily Price Data</a> files.
            </strong>
        </div>
        }
