@model JsPlc.Ssc.PetrolPricing.Portal.Controllers.UploadConfirmationViewModel
@{
    ViewBag.Title = "Confirm Daily Price data file overwrite";
}

<h1><i class="fa fa-file"></i> Confirm Daily Price data file overwrite</h1>
<div class="alert alert-info @(string.IsNullOrWhiteSpace(ViewBag.Message) ? "hidden" : "")">@ViewBag.Message</div>
<div class="alert alert-danger @(string.IsNullOrWhiteSpace(ViewBag.ErrorMessage) ? "hidden" : "")">@ViewBag.ErrorMessage</div>
<div class="alert alert-success @(string.IsNullOrWhiteSpace(ViewBag.SuccessMessage) ? "hidden" : "")">@ViewBag.SuccessMessage</div>
<hr />
@using (Html.BeginForm("UploadConfirmation", "File", FormMethod.Get))
{
    <div class="alert alert-warning">
        <div class="col-md-10">
            <i class="fa fa-question-circle fa-2x" style="position: relative; top: 4px;"></i> &nbsp;
            Calculated prices loaded earlier will be <strong>overwritten</strong> with a new data from new file: <i class="fa fa-file"></i>&nbsp; <strong>@Model.OriginalFileName</strong>
        </div>
        <div class="col-md-1">
            <input type="hidden" value="@Model.Guid" name="guidKey" />
            <input type="submit" value="Cancel" name="response" class="btn btn-primary" data-infotip="Cancel the file upload." />
        </div>
        <div class="col-md-1">
            <input type="submit" id="OverWriteUploadButton" value="Overwrite" name="response" class="btn btn-primary btn-danger" data-infotip="Overwrite the older file" />
        </div>
        <div class="clearfix"></div>
    </div>
}
<hr />
<h3>Existing Daily Price files</h3>
<div id="FileUploadContainer">
    @Html.Partial("_FileUploadsList", Model.ExistingFiles)
</div>

<script>
    require(["jquery", "common", "busyloader", "infotips"],
        function ($, common, busyloader, infotips) {
            $(function () {
                $('#OverWriteUploadButton').on('click', function () {
                    busyloader.show({
                        message: 'Overwritting file. Please wait...',
                        dull: true
                    });
                });
            });
        });
</script>