@model JsPlc.Ssc.PetrolPricing.Portal.Controllers.UploadConfirmationViewModel
@{
    ViewBag.Title = "Confirm Daily Price data file overwrite";
}

<h1>Confirm Daily Price data file overwrite</h1>
<div class="alert alert-info @(string.IsNullOrWhiteSpace(ViewBag.Message) ? "hidden" : "")">@ViewBag.Message</div>
<div class="alert alert-danger @(string.IsNullOrWhiteSpace(ViewBag.ErrorMessage) ? "hidden" : "")">@ViewBag.ErrorMessage</div>
<div class="alert alert-success @(string.IsNullOrWhiteSpace(ViewBag.SuccessMessage) ? "hidden" : "")">@ViewBag.SuccessMessage</div>
<hr />
@using (Html.BeginForm("UploadConfirmation", "File", FormMethod.Get))
{
    <div class="alert alert-warning">
        <div class="col-md-4">
            Calculated prices loaded earlied will be overwriten with a new data from new file: <strong>@Model.OriginalFileName</strong>
        </div>
        <div class="col-md-1">
            <input type="hidden" value="@Model.Guid" name="guidKey" />
            <input type="submit" value="Cancel" name="response" class="btn btn-primary" />
        </div>
        <div class="col-md-1">
            <input type="submit" id="OverWriteUploadButton" value="Overwrite" name="response" class="btn btn-primary btn-danger" />
        </div>
        <div class="clearfix"></div>
    </div>
}
<hr />
<h3>Existing Daily Price files</h3>
@Html.Partial("_FileUploadsList", Model.ExistingFiles)

<script>
    require(["jquery", "common", "busyloader"],
        function ($, common, busyloader) {
            $(function () {
                $('#OverWriteUploadButton').on('click', function () {
                    busyloader.show({
                        message: 'Overwritting file. Please wait...',
                        showtime: 3000
                    });
                });
            });
        });
</script>