@model JsPlc.Ssc.PetrolPricing.Models.FileUpload

@{
    ViewBag.Title = "Upload Details";
}

<h2>View</h2>

<div>
    <h4>FileUpload</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginalFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoredFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoredFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadType.UploadTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedBy)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@if (Model.StatusId == 15 && Model.ImportProcessErrors.Any())
{
    <div>
        @Html.Partial("_ImportErrors", Model.ImportProcessErrors)
    </div>
}