@model JsPlc.Ssc.PetrolPricing.Models.FileUpload
@using JsPlc.Ssc.PetrolPricing.Portal.Helper.Extensions
@{
    ViewBag.Title = "Uploaded file details";

    var daysAgo = DateTime.Now.Date.Subtract(Model.UploadDateTime.Date).TotalDays;
    var daysAgoText = daysAgo == 0 ? "Today" : daysAgo == 1 ? "Yesterday" : daysAgo + " Days ago";
    var isRecentUpload = daysAgo < 2;
}

<style>
    dt, dd {line-height: 2em;}
</style>

<h1><i class="fa fa-file"></i> Uploaded file details</h1>
@if (Model.ImportProcessErrors.Any())
{
    <div class="alert alert-danger">
        @Html.Partial("_ImportErrors", Model.ImportProcessErrors)
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">@Html.DisplayNameFor(model => model.OriginalFileName)
        <strong>@Html.DisplayFor(model => model.OriginalFileName)</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StoredFileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoredFileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UploadType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UploadType.UploadTypeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UploadDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UploadDateTime) <strong style="margin-left: 1em;">( @daysAgoText )</strong>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UploadedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UploadedBy)
                <a class="btn btn-primary btn-sm" target="_blank" style="margin-left: 1em;" href="mailto:@Model.UploadedBy"><i class="fa fa-at"></i> Email</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FileExists)
            </dt>

            <dd>
                @if (Model.FileExists)
                {
                    <span class="text-success" data-infotip="File exists"><i class="fa fa-check"></i> Yes &mdash;</span>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Download", "File")/@Model.Id" data-infotip="Download the file"><i class="fa fa-download"></i> Download file</a>

                } else
                {
                    <span class="text-danger" data-infotip="File [b]does not[/b] Exist."><i class="fa fa-times"></i> No</span><br />
                    <p><em><strong>Note:</strong> Over time old files are removed from the system to help minimise the required storage space.</em></p>
                }
            </dd>
        </dl>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" href="@Url.Action("Index", "File")"><i class="fa fa-angle-double-left"></i> Back to List</a>
    </div>
</div>