@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.UploadViewModel
@{
    ViewBag.Title = "New file upload";
}

<style>


    .TextBoxAsLabel
{
   border: none;
   background-color: #fff;
   background: transparent;
}
</style>


<h1>
    New file upload
</h1>
<div class="alert alert-info @(string.IsNullOrWhiteSpace(ViewBag.Message) ? "hidden" : "")">@ViewBag.Message</div>
<div class="alert alert-danger @(string.IsNullOrWhiteSpace(ViewBag.ErrorMessage) ? "hidden" : "")">@ViewBag.ErrorMessage</div>
<div class="alert alert-success @(string.IsNullOrWhiteSpace(ViewBag.SuccessMessage) ? "hidden" : "")">@ViewBag.SuccessMessage</div>
<div class="alert alert-warning @(string.IsNullOrWhiteSpace(ViewBag.WarningMessage) ? "hidden" : "")">@ViewBag.WarningMessage</div>
<hr />
<form action="" method="post" enctype="multipart/form-data">
    @if (@Model!=null)
    {
    <div class="alert alert-info">Uploaded data will be calculated as <strong>  @Html.TextBoxFor(o => o.UploadDate,"{0:dd/MM/yyyy}", new { @class = "TextBoxAsLabel",@readonly = true, id = "calcultedasdate" })    </strong></div>
    }
    <div class="col-md-3">
        <div class="form-group">
            <label for="UploadTypes">Upload type:</label>
            @Html.DropDownListFor(model => model.UploadTypes, new SelectList(
                            Model.UploadTypes, "Id", "UploadTypeName"), new { @class = "form-control", id = "UploadTypeName" })  
              
          
        
        </div>

      



    </div>

    <div class="col-md-1" id="datepickerctrl" style="margin-top: 24px">
        @Html.TextBoxFor(m => m.UploadDate, "{0:dd/MM/yyyy}", new { @class = "datepicker form-control",id = "caldattimepicker", style = "width:85px;", @maxlength = "12" })
                                                                                        
    </div>
    
    <div class="col-md-1" style="margin-top: 24px">
        <span class="btn btn-success btn-file">
            Select file
            <input type="file" name="file" id="file" />
        </span>
    </div>
    <div class="col-md-1" style="margin-top: 24px">
        <div class="form-group">
            <input type="submit" value="Upload file" class="btn btn-primary" />
        </div>
    </div>   

</form>

<script type="text/javascript">
   
        $('.datepicker')
            .datepicker({
                language: "en-GB",
                format: "DD/MM/YYYY",
                orientation: 'auto top',
                autoclose: true,
                todayHighlight: true,
                startDate: '-3m',
                endDate: '1d'
            });
 

   



$(function () {
    $('#UploadTypeName').change(function () {
        var value = $(this).val();
        if (value == 1) {

            $('#datepickerctrl').show();
        } else {

            var d = new Date();

            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output = (('' + day).length < 2 ? '0' : '') + day + '/' +
                (('' + month).length < 2 ? '0' : '') + month + '/' +
                d.getFullYear();
            $('#calcultedasdate').val(output);
            $('#datepickerctrl').hide();
        }
    });


    $("#caldattimepicker").change(function () {


     
         $('#calcultedasdate').val($('#caldattimepicker').val());
      
    });
});
</script>

