@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.UploadViewModel
@{
    ViewBag.Title = "New file upload";
}

<h1>
    New file upload
</h1>
<div class="alert alert-info @(string.IsNullOrWhiteSpace(ViewBag.Message) ? "hidden" : "")">@ViewBag.Message</div>
<div class="alert alert-danger @(string.IsNullOrWhiteSpace(ViewBag.ErrorMessage) ? "hidden" : "")">@ViewBag.ErrorMessage</div>
<div class="alert alert-success @(string.IsNullOrWhiteSpace(ViewBag.SuccessMessage) ? "hidden" : "")">@ViewBag.SuccessMessage</div>
<div class="alert alert-warning @(string.IsNullOrWhiteSpace(ViewBag.WarningMessage) ? "hidden" : "")">@ViewBag.WarningMessage</div>
<hr />
<form action="" method="post" enctype="multipart/form-data">
    if (@Model!=null)
    {
    <div class="alert alert-info">Uploaded data will be calculated as <strong>@Model.UploadDate.ToString("MMMM dd, yyyy")</strong></div>
    }
    <div class="col-md-3">
        <div class="form-group">
            <label for="UploadTypes">Upload type:</label>
            @Html.DropDownListFor(model => model.UploadTypes, new SelectList(
          Model.UploadTypes, "Id", "UploadTypeName"), new { @class = "form-control" })

            @Html.HiddenFor(model => model.UploadDate, new { name = "uploadDateTime" })


        </div>

    </div>
    
    <div class="col-md-1" style="margin-top: 24px">
        <span class="btn btn-success btn-file">
            Select file
            <input type="file" name="file" id="file" />
        </span>
    </div>
    <div class="col-md-1" style="margin-top: 24px">
        <div class="form-group">
            <input type="submit" value="Upload file" class="btn btn-primary" />
        </div>
    </div>   

</form>

