@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.UploadViewModel
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
<h3>@ViewBag.Message</h3>
<br/>
<span style="color:red">@ViewBag.ErrorMessage</span>
<span style="color:green; font-size: larger">@ViewBag.SuccessMessage</span>

<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <p style="color:orange; font-size: large">@ViewBag.WarningMessage</p>

        Upload Type: @Html.DropDownListFor(model => model.UploadTypes, new SelectList(
          Model.UploadTypes, "Id", "UploadTypeName"))
        <br />
        Upload Date: @Html.Label(Model.UploadDate.ToLongDateString())
        @Html.HiddenFor(model => model.UploadDate, new { name = "uploadDateTime" })

        <br /><br />

        <legend>File upload:</legend>
        <span>Click the Choose File button to pick a file to upload</span><input type="file" name="file" id="file" />
        <label for="file"></label>
        <br/>
        <input type="submit" value="Upload" />
    </fieldset>
</form>
