@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.UploadViewModel
@{
    ViewBag.Title = "New file upload";
}
<link type="text/css" rel="stylesheet" href="~/Content/uploads.css" />
<link type="text/css" rel="stylesheet" href="~/Content/tips.css" />

<h1><i class="fa fa-file"></i>
    New file upload <span id="FileUploadTitle"></span>
</h1>
<div class="alert alert-info @(string.IsNullOrWhiteSpace(ViewBag.Message) ? "hidden" : "")"><i class="fa fa-info-circle fa-2x large-message-icon pulse-size"></i> @ViewBag.Message</div>
<div class="alert alert-danger @(string.IsNullOrWhiteSpace(ViewBag.ErrorMessage) ? "hidden" : "")"><i class="fa fa-times fa-2x large-message-icon pulse-size"></i> @ViewBag.ErrorMessage</div>
<div class="alert alert-success @(string.IsNullOrWhiteSpace(ViewBag.SuccessMessage) ? "hidden" : "")"><i class="fa fa-check fa-2x large-message-icon pulse-size"></i> @ViewBag.SuccessMessage</div>
<div class="alert alert-warning @(string.IsNullOrWhiteSpace(ViewBag.WarningMessage) ? "hidden" : "")"><i class="fa fa-warning fa-2x large-message-icon pulse-size"></i> <strong>@ViewBag.WarningMessage</strong></div>
<hr />
<!-- start loader -->
<div style="display: none;" id="FileUploadingDialog" class="alert alert-warning busy-loader">
    <div class="col-md-1 text-center">
        <i class="fa fa-clock-o fa-2x spinner"></i>
    </div>
    <div class="col-md-10 text-center">
        <strong>Uploading file. Please wait...</strong>
    </div>
</div>
<!-- end loader-->

<form action="" method="post" enctype="multipart/form-data">
    @if (@Model != null)
    {
        <div class="alert alert-warning font125pc">
            Uploaded data will be calculated as <strong id="calcultedasdate">@Model.UploadDate.ToString("dd/MM/yyyy")</strong>
            <span id="CalculateDateInfo" class="badge"></span>
        </div>
    }

    <div id="diverror" class="alert alert-danger" style="display: none;"></div>

    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="alert alert-info">
                <div id="divDailyPriceHelp" style="display: none;">
                    <big class="text-black">Daily Price Data:</big> &mdash;
                    contains the <strong>Catalist</strong> price information for each Site (CatNo) for all 3 fuel grades (Unleaded, Petrol and Super-Unleaded).
                </div>

                <div id="divQuarterlyFileHelp" style="display: none;">
                    <big class="text-black">Quarterly Site Data:</big> &mdash;
                    contains <strong>Site</strong> information such as Name, Town, Distance, Drive Time, Brand, PostCode and Ownership.
                </div>

                <div id="divLatestJsHelp" style="display: none;">
                    <big class="text-black">Latest JS Price Data:</big>  &mdash;
                    contains the <strong>latest</strong> price data for <strong>Sainsbury's sites only</strong> for Unleaded, Petrol and Super-Unleaded.
                </div>

                <div id="divLatestCompHelp" style="display: none;">
                    <big class="text-black">Latest Competitor Price Data :</big>  &mdash;
                    contains the <strong>latest</strong> site (CatNo) price data of our <strong>Competitors</strong> for <strong>Unleaded and Petrol Only</strong>.
                </div>
            </div>
        </div>
    </div>

    <!-- [Step 1] -->
    <div class="row step-panel active" id="Step1Panel">
        <div class="col-md-1">
            <span class="step-number">1</span>
        </div>

        <div class="col-md-2 text-right btn-row-text">
            <label for="UploadTypes">Upload type:</label>
        </div>

        <div class="col-md-3">
            @Html.DropDownListFor(model => model.UploadTypes, new SelectList(
                        Model.UploadTypes, "Id", "UploadTypeName"), new { @class = "form-control", id = "UploadTypeName" })<br />
            <label data-infotip="Always show the date picker (for historic uploads)"><input type="checkbox" id="chkShowDatePicker" value="1" /> Always show the date picker</label>
        </div>

        <div class="col-md-5 col-md-offset-1">
            <a id="DownloadQuarterlyTemplateButton" href="~/Content/QuarterlySiteData-Template.xlsx" class="btn btn-primary hide" download="QuarterlySiteDataTemplate.xlsx"><i class="fa fa-download"></i> Download Data Template</a>
            <a id="DownloadLatestPriceTemplateButton" href="~/Content/LatestSitePriceDataTemplate.xlsx" class="btn btn-primary hide" download="LatestSitePriceDataTemplate.xlsx"><i class="fa fa-download"></i> Download Data Template</a>
            <a id="DownloadLatestCompPriceTemplateButton" href="~/Content/LatestCompPriceDataTemplate.xlsx" class="btn btn-primary hide" download="LatestCompPriceDataTemplate.xlsx"><i class="fa fa-download"></i> Download Data Template</a>
        </div>
    </div>

    <!-- [Step 2] -->
    <div class="row step-panel hide" id="Step2Panel">
        <div class="col-md-1 btn-row-text">
            <span class="step-number">2</span>
        </div>

        <div class="col-md-2 text-right btn-row-text">
            <label for="UploadDate" id="Step2Label">Choose Date / File:</label>
        </div>

        <div class="col-md-3" id="ChooseDatePanel">
            @Html.TextBoxFor(m => m.UploadDate, "{0:dd/MM/yyyy}", new { @class = "datepicker form-control", style="width: 50%", id = "caldattimepicker", @maxlength = "12", @data_infotip="This will be displayed as the [b]Upload Date/Time[/b]" })
            <span id="CalculateDateInfo2" class="badge"></span>
        </div>

        <div class="col-md-6">
            <span class="btn btn-success btn-file" id="FileButton">
                <i class="fa fa-file"></i>
                Select file...
                <input type="file" name="file" id="file" class="inputfile" accept=".csv,.txt" />
            </span>
            <span id="SelectFilePrompt" class="btn-row-text tip tip-w"></span>
        </div>
    </div>

    <!-- [Step 3] -->
    <div class="row step-panel hide" id="Step3Panel">
        <div class="col-md-1 btn-row-text">
            <span class="step-number">3</span>
        </div>

        <div class="col-md-2 text-right btn-row-text">
            <label for="UploadDate">Review &amp; Upload:</label>
        </div>

        <div class="col-md-3">
            <button type="submit" id="UploadFileButton" class="btn btn-primary hide"><i class="fa fa-upload"></i> Upload file</button>
        </div>

        <div class="col-md-6" id="divfilenameplusicon">
            <img id="fileimage" src="images/defaultfileicon.png" />
            <label id="filename"></label>
        </div>
    </div>

</form>
<br />
<div class="row">
    <div class="col-md-1">
        <a class="btn btn-default" href="~/File"><i class="fa fa-backward"></i> Back to list</a>
    </div>
</div>

<input type="hidden" id="hdnSelectedFileUploadType" value="@(Model.SelectedFileUploadType)" />

<script type="text/javascript">
    require(['FileUpload', 'infotips'],
        function (fileupload, infotips) {
            fileupload.init();
        });
</script>