@using System.Web.UI.WebControls
@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.ComplianceReportContainerViewModel
@{
    ViewBag.Title = "Report - Compliance of sites on selected date";

    if (Model != null && !Model.ForDate.HasValue)
    {
        Model.ForDate = DateTime.Now;
    }

    var requestedForDate = Model != null ? @Model.ForDate.Value.Date.ToString("dd-MMM-yyyy") : null;

    var reportInformationViewModel = new JsPlc.Ssc.PetrolPricing.Models.ViewModels.ReportInformationViewModel();
    reportInformationViewModel.Introduction = "Report checks Sainsbury's site compliance of fuel price changes from the day prior.";

}
<style>
    .diffColored {
        min-width: 20px;
    }

    .diffNa {
        background-color: silver;
    }

    .diffNegative {
        background-color: red;
    }

    .diffPositive {
        background-color: green;
    }

    .diffZero {
        background-color: orange;
    }

    .spacedLeftRight5px td {
        padding-left: 5px;
        padding-right: 5px;
    }


    .actualdata {
        max-height: 500px;
        width: 1200px;
        overflow-y: auto;
        overflow-x: hidden;
    }


    .alternativerow:nth-child(2n+1) {
        background: #F5F5F5;
    }

    .alternativerow {
        border-bottom: 1px solid #b9b2b2;
    }

    .leftDivider {
        border-left: 1px solid #999;
    }


    .diff-complies,
    .diff-negative,
    .diff-positive,
    .diff-na {
        display: none;
    }

    .highlight-complies .diff-complies,
    .highlight-negative .diff-negative,
    .highlight-positive .diff-positive,
    .highlight-na .diff-na {
        display: block;
    }

    .diff-value {
        display: inline-block;
        text-align: right;
        float: right;
        letter-spacing: 1px;
    }
    .site-not-complies {}
    .site-complies {
        color: green;
    }

</style>


<div class="row">
    <div class="col-md-6">
        <h1><i class="fa fa-bar-chart"></i> @ViewBag.Title.</h1>
    </div>
    <div class="col-md-5">
        <table border="1">
            <thead>
                <tr>
                    <th colspan="8">
                        <center>
                            Key
                        </center>
                    </th>
                </tr>
            </thead>
            <tbody class="spacedLeftRight5px">
                <tr>
                    <td class="diffZero diffColored"></td>
                    <td>Complies</td>
                    <td class="diffNegative diffColored"></td>
                    <td>Negative value</td>
                    <td class="diffPositive diffColored"></td>
                    <td>Positive value</td>
                    <td class="diffNa diffColored"></td>
                    <td>Not available</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-1 newline">
        @if (Model != null && Model.ComplianceReport != null && Model.ComplianceReport.ReportRows.Any())
        {
            <button type="button" class="btn btn-primary" id="btnExportReport" data-infotip="Export the report as an [u]Excel File[/u]"><i class="fa fa-download"></i> Export to Excel</button>
        }
    </div>

</div>
<hr />

@Html.Partial("_ReportIntroduction", reportInformationViewModel)

<div class="report">
    <div id="errorMsgs" style="color: red"></div>
    <div id="msgs"></div>
    @using (Html.BeginForm("Compliance", "PriceReports", FormMethod.Get, new { onkeydown = "return event.keyCode!=13", onsubmit = "return false" }))
    {
        <div class="row" style="width: 1280px;">
            <div class="col-md-2">
                <label for="DateFor">Date:</label>&nbsp;
                <input type="text" class="datepicker form-control" id="DateFor" name="dateFor" value='@requestedForDate'>
            </div>
            <div class="col-md-1">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-success btn-block" id="btnViewReport"><i class="fa fa-search"></i> View</button>
            </div>
            <div class="col-md-1">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-danger btn-block" id="btnResetReport"><i class="fa fa-power-off"></i> Reset</button>
            </div>

            <div class="col-md-6 col-md-offset-1">
                <div>
                    <label>Show Differences:</label>
                    <button style="margin-left: 2em; display: none;" id="btnResetHighlighting" type="button" class="btn btn-xs btn-danger"><i class="fa fa-power-off"></i> Reset</button>
                </div>
                <button id="btnToggleHighlightComplies" type="button" class="btn btn-sm btn-primary"><i class="fa fa-minus"></i> Complies <span class="badge"></span></button>
                <button id="btnToggleHighlightNegative" type="button" class="btn btn-sm btn-primary"><i class="fa fa-arrow-down"></i> Negative <span class="badge"></span></button>
                <button id="btnToggleHighlightPositive" type="button" class="btn btn-sm btn-primary"><i class="fa fa-arrow-up"></i> Positive <span class="badge"></span></button>
                <button id="btnToggleHighlightNA" type="button" class="btn btn-sm btn-primary"><i class="fa fa-question"></i> N/A <span class="badge"></span></button>
            </div>

        </div>
    }

    @if (Model != null && Model.ComplianceReport != null && Model.ComplianceReport.ReportRows.Any())
    {
        <hr />
        <!-- Report Data -->
        <div class="divtable highlight-complies highlight-negative highlight-positive highlight-na" id="ReportGrid">
            <div class="row" style="font-weight: bold;">
                <div class="col-sm-1" style="width:100px">PfsNo </div>
                <div class="col-sm-1" style="width:100px">CatNo</div>
                <div class="col-sm-1" style="width:100px">StoreNo</div>
                <div class="col-sm-1" style="width:360px">SiteName</div>
                @foreach (var fuel in Model.ComplianceReport.ReportRows.First().DataItems.Select(x => x.FuelTypeName).Take(2))
                {
                    <div class="col-sm-3" style="width:250px; border-left: 1px solid #999;">
                        <div>
                            <center style="font-size: 125%;">
                                @if (fuel == "Unleaded")
                                {
                                    <span class="label label-success" style="padding-left: 1em; padding-right: 1em;">Unleaded</span>
                                }
                                else if (fuel == "Diesel")
                                {
                                    <span class="label label-black" style="padding-left: 1em; padding-right: 1em;">Diesel</span>
                                }
                                else
                                {
                                    <span>@(fuel)</span>
                                }
                            </center>
                        </div>
                        <div class="row">
                            <div class="col-sm-1" style="width:100px;">Catalist</div>
                            <div class="col-sm-1" style="width:70px">Expected</div>
                            <div class="col-sm-1" style="width:70px">Difference</div>
                        </div>
                    </div>
                }
            </div>

            <hr />
            <div class="actualdata">
                @foreach (var siteRow in Model.ComplianceReport.ReportRows)
                {
                    <div class="alternativerow">
                        <div class="row">
                            <div class="col-sm-1" style="width:100px">@siteRow.PfsNo</div>
                            <div class="col-sm-1" style="width:100px">@siteRow.CatNo</div>
                            <div class="col-sm-1" style="width:100px">@siteRow.StoreNo</div>
                            <div class="col-sm-1" style="width:360px">
                                @if (siteRow.DataItems.Take(2).Any(x => x.DiffValid && x.Diff != 0)) {
                                    <span class="site-not-complies"><i class="fa fa-times"></i> @siteRow.SiteName</span>
                                } else {
                                    <span class="site-complies"><i class="fa fa-check"></i> @(siteRow.SiteName)</span>
                                }
                            </div>
                            @if (!siteRow.DataItems.Any())
                            {
                                <div class="col-sm-1">There is no data available for site</div>
                            }
                            @foreach (var dataItem in siteRow.DataItems.Take(2)) // 3 dataItems for 3 fuels, each with data per fuel
                            {
                                var diffClassName = !dataItem.DiffValid ? "diffNa"
                                    :
                                    dataItem.Diff > 0 ? "diffPositive"
                                    :
                                    dataItem.Diff < 0 ? "diffNegative" : "diffZero"; // diffNa, diffNegative, diffPositive, diffZero
                                string color = dataItem.DiffValid ? (0 > dataItem.Diff ? "red" : dataItem.Diff > 0 ? "green" : "orange") : "gray";
                                string diffCss = dataItem.DiffValid ? (0 > dataItem.Diff ? "diff-negative" : dataItem.Diff > 0 ? "diff-positive" : "diff-complies") : "diff-na";
                                string diffIcon = dataItem.DiffValid ? (0 > dataItem.Diff ? "fa fa-arrow-down" : dataItem.Diff > 0 ? "fa fa-arrow-up" : "fa fa-minus") : "";
                                <div class="col-sm-3" style="width:250px">
                                    <div class="row @(diffCss)">
                                        <div class="col-sm-1 leftDivider" style="width:100px">@( dataItem.FoundCatPrice ? (dataItem.CatPriceValue / 10.0).ToString("###0.0") : "n/a")</div>
                                        <div class="col-sm-1" style="width:70px">@( dataItem.FoundExpectedPrice ? (dataItem.ExpectedPriceValue / 10.0).ToString("###0.0") : "n/a")</div>

                                        <div class="col-sm-1" style="width:80px;color:@color;"><i class="@(diffIcon)"></i> <span class="diff-value"> @( dataItem.DiffValid ? dataItem.Diff.ToString("0.0") : "n/a")</span></div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>


                                }
            </div>
        </div>
                }
    else
    {
                    <div class="alert alert-info" role="alert">No data found at @requestedForDate</div>
        }
</div>

@Html.Partial("_BackToReports")

@section scripts {
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/PriceReports/compliance.js"></script>
}