@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.CompetitorSiteViewModel
@{
	ViewBag.Title = "Report - View Competitor Sites By Driving Time in Minutes";
}
<div class="row">
    <div class="col-md-6">
        <h1>@ViewBag.Title.</h1>
    </div>
    <div class="col-md-6 text-right" style="padding-top: 20px">
        <input type="button" class="btn btn-primary" id="btnExportReport" value="Export to Excel" />
    </div>
</div>
<hr />

<style>
  

        .actualdata {
    height: 500px;
        overflow-y: auto;
        overflow-x: hidden; 
}

        .col-md-1 
        {
            width:130px;
        }

        .alternativerow:nth-child(2n+1){
    background:#F5F5F5;
    
}
        .alternativerow
        {
            height:35px;
           
    border-bottom:1px solid #b9b2b2
        }

      

     
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <label for="SiteId">Site:</label>&nbsp;
            @if (Model != null)
            { 
                @Html.DropDownList("SiteId", new SelectList(Model.Sites, "Id", "SiteName", Model.SiteId), new { @class = "form-control" })
            }
        </div>
       
    </div>
}


@if (Model != null && Model.Report.BrandTimes.Any())
{
    <hr style="border-width:3px;" />
    <div class="row" style="font-weight: bold">
        <div class="divheader">
            <div class="col-md-1" style="width:200px;">
                Brand Name
            </div>
            <div class="col-md-1">
                0 - 5
            </div>
            <div class="col-md-1">
                5 - 10
            </div>
            <div class="col-md-1">
                10 - 15
            </div>
            <div class="col-md-1">
                15 - 20
            </div>
            <div class="col-md-1">
                20 - 25
            </div>
            <div class="col-md-1">
                25 - 30
            </div>
            <div class="col-md-1">
                > 30
            </div>
        </div>
    </div>
    <hr style="border-width:3px; margin: 0.5px;" />
    <div class="actualdata">
        
    @foreach (var item in Model.Report.BrandTimes)
    { 
          <div class="alternativerow">

          
        <div class="row">
                <div class="col-md-1" style="width:200px;">
                @item.BrandName
            </div>
            <div class="col-md-1">
                @item.Count0To5
            </div>
            <div class="col-md-1">
                @item.Count5To10
            </div>
            <div class="col-md-1">
                @item.Count10To15
            </div>
            <div class="col-md-1">
                @item.Count15To20
            </div>
            <div class="col-md-1">
                @item.Count20To25
            </div>
            <div class="col-md-1">
                @item.Count25To30
            </div>
            <div class="col-md-1">
                @item.CountMoreThan30
            </div>
            
        </div>           

           
        </div>
  

    }


    </div>
}
else if (Model != null && Model.SiteId > 0)
{
    <div class="alert alert-info" role="alert">Data for <strong>@Model.Report.SiteName</strong> site is not found</div>
}

@section scripts {
    <script src="~/Scripts/PriceReports/competitorSites.js"></script>
}
