@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.NationalAverageReportContainerViewModel
@{
    ViewBag.Title = "Report - National Average with difference";

    if (Model != null && !Model.ForDate.HasValue)
    {
        Model.ForDate = DateTime.Now;
    }

    var requestedDate = Model != null ? Model.ForDate.Value.Date.ToString("dd-MMM-yyyy") : null;
    var hasData = (Model != null && Model.NationalAverageReport != null && Model.NationalAverageReport.Fuels.First().Brands.Any());

    var reportInformationViewModel = new JsPlc.Ssc.PetrolPricing.Models.ViewModels.ReportInformationViewModel();
    reportInformationViewModel.Introduction = "Report produces the output for the tracking competitor tab in the PPL spreadsheet.";

}

<script type="text/javascript">

    $(document).ready(function () {

        if ("@hasData" == "True") {
            $("#btnExportReport").prop("disabled", false);
        }
        else {
            $("#btnExportReport").prop("disabled", true);
        }
    });


</script>
<div class="row">
    <div class="col-md-6">
        <h1><i class="fa fa-bar-chart"></i> @ViewBag.Title.</h1>
    </div>
    <div class="col-md-6 text-right" style="padding-top: 20px">
        @if (Model != null && Model.NationalAverageReport != null && Model.NationalAverageReport.Fuels.Any())
        {
            <button type="button" class="btn btn-primary" id="btnExportReport"><i class="fa fa-download"></i> Export to Excel</button>
        }
    </div>
</div>
<hr />

@Html.Partial("_ReportIntroduction", reportInformationViewModel)

@using (Html.BeginForm("NationalAverage2", "PriceReports", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-2">
            <label for="For">When:</label>;
            <input type="text" class="datepicker form-control" id="For" name="For" value='@requestedDate'>
        </div>
        <div class="col-md-1">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-success btn-block" id="btnViewReport"><i class="fa fa-search"></i> View</button>
        </div>
        <div class="col-md-1">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-danger btn-block" id="btnResetReport"><i class="fa fa-power-off"></i> Reset</button>
        </div>
    </div>
}
<hr />
@if (Model != null && Model.NationalAverageReport != null && Model.NationalAverageReport.Fuels.First().Brands.Any())
{
    <!-- Report Data -->
    <div class="horz-auto-scroll">

        <table class="table table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <th>Fuel Type</th>
                    @if (Model.NationalAverageReport.Fuels.First().Brands.Any())
                    {
                        foreach (var brand in Model.NationalAverageReport.Fuels.First().Brands)
                        {
                            <th>@(brand.BrandName)(£)</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var fuelType in Model.NationalAverageReport.Fuels)
                {
                    <tr>
                        <td>
                            <strong>@fuelType.FuelName</strong>
                        </td>
                        @foreach (var brand in fuelType.Brands)
                        {
                            <td>@((brand.Average / 10.0).ToString("###0.00"))</td>
                        }
                    </tr>
                    <tr>
                        <td>Difference</td>
                        @foreach (var brand in fuelType.Brands)
                        {
                            int diff = brand.Average > 0 ? (brand.Average - fuelType.SainsburysPrice) : 0;
                            string color = "";
                            if (diff < 0)
                            {
                                color = "red";
                            }
                            else if (diff > 0)
                            {
                                color = "green";
                            }

                            <td style="color: @color">@((diff / 10.0).ToString("###0.00"))</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{

    foreach (var fuelType in Model.NationalAverageReport.Fuels)
    {
        <div class="alert alert-info" role="alert">No @fuelType.FuelName data found at @requestedDate</div>

    }


}

@Html.Partial("_BackToReports")

@section scripts {
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/PriceReports/nationalAverage2.js"></script>
}
