@model JsPlc.Ssc.PetrolPricing.Portal.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h1>@ViewBag.Title.</h1>
<div class="alert alert-danger @(string.IsNullOrWhiteSpace(ViewBag.ErrorMessage) ? "hidden" : "")">@ViewBag.ErrorMessage</div>
<hr />
<div>
    @if (Model.HasPassword)
    {
        @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-primary" })
    }
</div>
