@{
    ViewBag.Title = "Sainsbury's Petrol Pricing";
}

<div class="jumbotron">
    <h1>Sainsbury's Petrol Pricing</h1>
    <p class="lead">Responding to daily market fluctuations</p>
    <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Start</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>This application allows users to:</h2>
        <ul>
            <li>Compute & adjust daily fuel prices for Sainsburys' fuel stations</li>
            <li>Perform market comparison on fuel prices</li>
            <li>Track fuel price movement</li>
            <li>Report on fuel prices</li>
            <li>Maintain records of sites (own and competitors)</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>General</h2>
        <ul>
            <li><a href="#">Login</a></li>
            <li>@Html.ActionLink("Index", "Index", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Business as Usual</h2>
        <ul>
            <li>@Html.ActionLink("File Upload", "Index", "File")</a></li>
            <li>@Html.ActionLink("Site Prices", "Prices", "Sites")</li>
            <li><a href="#">Send Emails</a></li>
            <li>@Html.ActionLink("Reports", "Index", "Pricereports")</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Maintenance</h2>
        <ul>
            <li>@Html.ActionLink("Site Maintenance", "Index", "Sites")</li>
            <li><a href="#">Pricing Rules</a></li>
        </ul>
    </div>
</div>