@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.DiagnosticsViewModel
@using JsPlc.Ssc.PetrolPricing.Core
@using JsPlc.Ssc.PetrolPricing.Portal.Helper.Extensions
@{
    ViewBag.Title = "Petrol Pricing Diagnostics";
}

@section head {
    <style>
        .divider-row {
            border-bottom: 4px solid #6f1f44;
            height: 4px;
        }

        .code-listing {
            width: 100%;
            overflow: auto;
            max-height: 10em;
        }
        .log-parameters-table th{
            padding: 2px;
        }
        .auto-horz-scroll {
            width: 54em;
            overflow: auto;
        }
        .mono {
            font-family: monospace;
        }
    </style>
}

<div class="jumbotron">
    <h1 class="site-hero-text"><i class="fa fa-bug"></i> Diagnostics</h1>
    <p class="lead">Petrol Pricing Diagnostics</p>

    @using (Html.BeginForm("Index", "Diagnostics"))
    {
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Control Panel</h5>
            </div>
            <div class="panel-body">

                <fieldset>
                    <legend>Dapper</legend>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                @if (Model.DiagnosticsSettings.Dapper_LogDatabaseCalls)
                                {
                                    <input type="checkbox" class="pull-left" name="Dapper_LogDatabaseCalls" id="Dapper_LogDatabaseCalls" value="True" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" class="pull-left" name="Dapper_LogDatabaseCalls" id="Dapper_LogDatabaseCalls" value="True" />
                                }
                            </div>
                            <div class="col-md-3">
                                <label for="Dapper_LogDatabaseCalls">Log Database Calls</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />

                <fieldset>
                    <legend>Site Prices</legend>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                @if (Model.DiagnosticsSettings.SitePrices_UseStoredProcedure)
                                {
                                    <input type="checkbox" name="SitePrices_UseStoredProcedure" id="SitePrices_UseStoredProcedure" value="True" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="SitePrices_UseStoredProcedure" id="SitePrices_UseStoredProcedure" value="True" />
                                }
                            </div>
                            <div class="col-md-3">
                                <label for="SitePrices_UseStoredProcedure">Use Stored Procedure</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />

                <fieldset>
                    <legend>Competitor Sites</legend>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                @if (Model.DiagnosticsSettings.CompetitorPrices_UseStoredProcedure)
                                {
                                <input type="checkbox" name="CompetitorPrices_UseStoredProcedure" id="CompetitorPrices_UseStoredProcedure" value="True" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="CompetitorPrices_UseStoredProcedure" id="CompetitorPrices_UseStoredProcedure" value="True" />
                                }
                            </div>
                            <div class="col-md-3">
                                <label for="CompetitorPrices_UseStoredProcedure">Use Stored Procedure</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="panel-footer">
                <button type="submit" name="btnSubmitSettings" id="btnSubmitSettings" class="btn btn-danger pull-right"><i class="fa fa-check"></i> Update Settings</button>
                <div class="clearfix"></div>
            </div>
        </div>
    }

    <!-- app settings -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>App Settings</h5>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Setting</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AppSettings)
                    {
                        <tr>
                            <th>@item.Key</th>
                            <td>
                                <div class="auto-horz-scroll">@item.Value</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- app settings -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Core Settings</h5>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Setting</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CoreSettings)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- environment -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Environment</h5>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Environment)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <!-- recent database object changes -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Recent Database Object Changes</h5>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Schema</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RecentDatabaseObjectsChanges)
                    {
                        <tr>
                            <td>@item.Type</td>
                            <td>@item.TypeDescription</td>
                            <td>@item.SchemaName</td>
                            <td>@item.Name</td>
                            <td>@item.CreatedOn</td>
                            <td>@item.ModifiedOn</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- recent database object summary -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Database Object Summary</h5>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">Default Contraints</th>
                        <th class="text-center">Foreign Keys</th>
                        <th class="text-center">Scalar Functions</th>
                        <th class="text-center">Stored Procedures</th>
                        <th class="text-center">Primary Keys</th>
                        <th class="text-center">Table Funtions</th>
                        <th class="text-center">User Tables</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">@Model.DatabaseObjectSummary.DefaultConstraintCount</td>
                        <td class="text-center">@Model.DatabaseObjectSummary.ForeignKeyCount</td>
                        <td class="text-center">@Model.DatabaseObjectSummary.ScalarFunctionCount</td>
                        <td class="text-center">@Model.DatabaseObjectSummary.StoredProcedureCount</td>
                        <td class="text-center">@Model.DatabaseObjectSummary.PrimaryKeyCount</td>
                        <td class="text-center">@Model.DatabaseObjectSummary.TableFunctionCount</td>
                        <td class="text-center">@Model.DatabaseObjectSummary.UserTableCount</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- log entries -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Log Entries (User Session Based)</h5>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th style="width: 20%;"><big>Created</big></th>
                        <th style="width: 10%;"><big>Level</big></th>
                        <th><big>Message</big></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.LogEntries)
                    {
                    <tr>
                        <td><strong>@log.Created</strong></td>
                        <td><strong>@log.Level</strong></td>
                        <td><strong>@log.Message</strong></td>
                    </tr>

                    if (log.Parameters.Count != 0)
                    {
                    <tr>
                        <td class="text-right"><strong>Parameters:</strong></td>
                        <td colspan="2">
                            <table class="table log-parameters-table">
                                <tbody>
                                    @foreach (var kvp in log.Parameters)
                                    {
                                    <tr>
                                        <th>@kvp.Key</th>
                                        <td><div class="mono auto-horz-scroll">@kvp.Value</div></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    }

                    if (log.Exception != "N/A")
                    {
                    <tr>
                        <td colspan="3">
                            <div class="code-listing mono">
                                <strong>Exception:</strong>
                                @log.Exception
                            </div>
                        </td>
                    </tr>
                        }
                    <tr class="divider-row">
                        <td colspan="3"></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            @using (Html.BeginForm("ClearLog", "Diagnostics"))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger pull-right"><i class="fa fa-power-off"></i> Clear</button>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        require(["diagnostics"], function () { })
    </script>
}
