@using System.Configuration;
@using JsPlc.Ssc.PetrolPricing.Portal.Helper;

@{ 
    var isDevServer = Request.Url.ToString().ToLower().Contains("/dev.petrolpricing.js-devops.co.uk/");
    var correctedBuildDateTime = isDevServer
        ? BuildInfoHelper.BuildDateTime.AddHours(1)
        : BuildInfoHelper.BuildDateTime;
}
<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
    <base href="@(Request.ApplicationPath == "/" ? "/" : Request.ApplicationPath + "/")">
    <link rel="shortcut icon icon" type="image/ico" href="favicon.ico" />
    <title>@ViewBag.Title - Petrol Pricing</title>

    <script type="text/javascript">
        var JSPLC = (function () {
            var isLocalHost = /^localhost/i.test(window.location.hostname),
                scriptVersion = '@BuildInfoHelper.ScriptVersionNumber';
            return {
                PetrolPricing: {
                    scriptVersion: scriptVersion
                }
            };
        })();
    </script>

    @Scripts.Render("~/bundles/jquery")
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript" src="~/Scripts/chosen/chosen.jquery.js"></script>

    <script type="text/javascript" src="~/Scripts/require.js"></script>
    <script type="text/javascript" src="~/Scripts/require.config.js"></script>


    <script type="text/javascript">
        var IsPriceCollapsed = 0;
        var IsSitePriceFormClicked = 0;
        require(["PetrolPricingService"], function (PetrolPricingService) {
            PetrolPricingService.setServiceBaseUrl("@(ConfigurationManager.AppSettings["ServicesBaseUrl"])");
        });


        function ValidateNumber(e) {
            var evt = (e) ? e : window.event;
            var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        };

        function ReloadMe() {

            var locationPath = location.pathname.toLowerCase();

            // ignore dev URL
            locationPath = locationPath.replace(/^\/petrolpricing\//i, '/');


            if (locationPath == "/sites/prices" && IsPriceCollapsed == 1 && IsSitePriceFormClicked == 0) {
                // window.location.href = '@Url.Action("Prices", "Sites")';
                IsPriceCollapsed = 0;
                // alert("@(ConfigurationManager.AppSettings["ServicesBaseUrl"])");


           
            }
            IsSitePriceFormClicked = 0;
        }

       
    </script>
    <meta name="description" content="Petrol pricing application for responding to market prices" />
    @RenderSection("head", false)
</head>
<body onclick="ReloadMe()" style="margin-left:-100px; padding: 0px;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="z-index: 900;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="/" title="Sainsbury's Petrol Pricing">
                    <img title="Sainsbury's Petrol Pricing" src="@Url.Content("~/images/logo.png")" />
                    Petrol Pricing
                </a>
            </div>
            @* [top navigation bar] *@
            @Html.Action("TopNavigation", "Layout")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="panel-footer" style="margin-top: 100px">
        <div class="container">
            <footer>
                <p>
                    &copy; @DateTime.Today.Year - Sainsbury's Petrol Pricing
                    <span class="build-information">Build @(BuildInfoHelper.BuildVersion) - on @(correctedBuildDateTime.ToString("yyyy-MM-dd a\\t HH:mm:ss")) </span>
                </p>
            </footer>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_NotifyDialogs.cshtml")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        require(['layout', 'buildDetector'],
            function (layout, buildDetector) {
                layout.init();
                buildDetector.init('@(correctedBuildDateTime.ToString("yyyy-MM-dd a\\t HH:mm:ss"))');
            }
        );
    </script>

<script type="text/javascript">

    try {
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    }
    catch (e)
    {
        
    }

</script>

</body>

</html>
