@if (Request.IsAuthenticated)
{
    <li data-menu-item="nav-upload">
        <a href="@Url.Action("Index", "File")"><i class="fa fa-file"></i>Upload</a>
    </li>
    <li data-menu-item="nav-site-pricing">
        <a href="@Url.Action("Prices","Sites")"><i class="fa fa-gbp"></i>Site Pricing</a>
    </li>
    <li data-menu-item="nav-site-maintenance">
        <a href="@Url.Action("Index", "Sites")"><i class="fa fa-gear"></i>Site Maintenance</a>
    </li>
    <li data-menu-item="nav-reports">
        <a href="@Url.Action("Index", "PriceReports")"><i class="fa fa-bar-chart"></i>Reports</a>
    </li>
    <li data-menu-item="nav-users">
        <a href="@Url.Action("Index", "PPUsers")"><i class="fa fa-user"></i>Users</a>
    </li>
}
