@model JsPlc.Ssc.PetrolPricing.Models.ViewModels.SystemSettings.DriveTimeFuelSettingsViewModel
@using JsPlc.Ssc.PetrolPricing.Models.Enums
@using JsPlc.Ssc.PetrolPricing.Models.ViewModels.SystemSettings
@using JsPlc.Ssc.PetrolPricing.Portal.Helper.Extensions
@{
    ViewBag.Title = "DriveTime";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var unleadedModel = new DriveTimeMarkupFuelViewModel()
    {
        PanelId = String.Format("DriveTimeMarkup_{0}", (int)FuelTypeItem.Unleaded),
        FuelTypeId = (int)FuelTypeItem.Unleaded
    };

    var dieselModel = new DriveTimeMarkupFuelViewModel()
    {
        PanelId = String.Format("DriveTimeMarkup_{0}", (int)FuelTypeItem.Diesel),
        FuelTypeId = (int)FuelTypeItem.Diesel
    };

    var superUnleadedModel = new DriveTimeMarkupFuelViewModel()
    {
        PanelId = String.Format("DriveTimeMarkup_{0}", (int)FuelTypeItem.Super_Unleaded),
        FuelTypeId = (int)FuelTypeItem.Super_Unleaded
    };
}


<style>
    tr.highlight,
    tr.highlight:hover {
        background-color: #cfc;
    }

    .hoverable:hover {
        background-color: #ffc;
    }

    .table > tbody > tr > td.boundary {
        border-top: 2px solid #999;
    }

    .ping-background {
        -webkit-animation: fadeIt 4s ease-in-out;
        animation: fadeIt 4s ease-in-out;
    }

    @@-webkit-keyframes fadeIt {
        0% {
            background-color: #cfc;
        }

        100% {
            background-color: #fff;
        }
    }

    @@keyframes ping-background {
        0% {
            background-color: #cfc;
        }

        100% {
            background-color: #fff;
        }
    }
</style>

<h1>
    <i class="fa fa-cogs"> System Settings</i>
</h1>

<ul class="nav nav-tabs nav-condensed">
    <li><a href="@Url.Action("Index", "Settings")"><i class="fa fa-cogs"></i> Common Settings</a></li>
    <li class="active"><a href="@Url.Action("DriveTime", "Settings")"><i class="fa fa-clock-o"></i> Drive Time</a></li>
</ul>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="divDriveTimeChartPlaceHolder"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4">
            @Html.Partial("~/Views/Settings/_DriveTimeMarkupFuelPanel.cshtml", unleadedModel)
        </div>

        <div class="col-md-4">
            @Html.Partial("~/Views/Settings/_DriveTimeMarkupFuelPanel.cshtml", dieselModel)
        </div>

        <div class="col-md-4">
            @Html.Partial("~/Views/Settings/_DriveTimeMarkupFuelPanel.cshtml", superUnleadedModel)
        </div>
    </div>

    <div class="row">
        <div id="divUnsavedChanges" class="alert alert-warning" style="display:none;">
            <span class="font125pc"><i class="fa fa-warning pulse-size"></i> <strong>Warning:</strong> You have unsaved changes.
            &mdash; <strong>Note:</strong> Saving this changes will perform a recalculation.
            </span>

            <button type="button" id="btnSaveDriveTimeMarkups" class="btn btn-primary btn-sm pull-right" data-infotip="Save the Drive Time Markup values"><i class="fa fa-check"></i> Save</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<hr />

<script>
    require(["DriveTime", "driveTimeMarkup", "DriveTimeChart", "DriveTimeMarkupService", "notify", "PetrolPricingService", "busyloader"],
        function (driveTime, driveTimeMarkup, driveTimeChart, driveTimeMarkupService, notify, petrolPricingService, busyloader) {

            "use strict";

            var firstLoad = false;

            var records = {
                unleaded: null,
                diesel: null,
                superUnleaded: null
            };

            var fuels = {
                unleaded: null,
                diesel: null,
                superUnleaded: null
            };

            function loadData() {
                function failure() {
                    notify.error('Unable to load Drive Time Markup data');
                };
                function success(data) {
                    if (!data && !data.Unleaded)
                        return failure();

                    records.unleaded = data.Unleaded;
                    records.diesel = data.Diesel;
                    records.superUnleaded = data.SuperUnleaded;

                    afterInitLoad();
                };
            
                driveTimeMarkupService.loadDriveTimeMarkups(success, failure);
            };

            function afterInitLoad() {
                $(function() {
                    firstLoad = true;
                    initChart();
                    setupUI();
                    drawChart();
                });
            };

            function setupUI() {
                fuels.unleaded = driveTimeMarkup.create({
                    panelId: '@(unleadedModel.PanelId)',
                    warningPanelId: 'Warning_@(unleadedModel.PanelId)',
                    fuelTypeId: @((int)FuelTypeItem.Unleaded),
                    friendlyFuelName: 'Unleaded',
                    callback: eventHandler
                });

                fuels.diesel = driveTimeMarkup.create({
                    panelId: '@(dieselModel.PanelId)',
                    warningPanelId: 'Warning_@(dieselModel.PanelId)',
                    fuelTypeId: @((int)FuelTypeItem.Diesel),
                    friendlyFuelName: 'Diesel',
                    callback: eventHandler
                });

                fuels.superUnleaded = driveTimeMarkup.create({
                    panelId: '@(superUnleadedModel.PanelId)',
                    warningPanelId: 'Warning_@(superUnleadedModel.PanelId)',
                    fuelTypeId: @((int)FuelTypeItem.Super_Unleaded),
                    friendlyFuelName: 'Super Unleaded',
                    callback: eventHandler
                });

                // populate with data
                fuels.unleaded.populate(records.unleaded);
                fuels.diesel.populate(records.diesel);
                fuels.superUnleaded.populate(records.superUnleaded);

                driveTime.init(fuels, eventHandler);
            };

            function initChart() {
                driveTimeChart.init({
                    selector: '#divDriveTimeChartPlaceHolder'
                });
            };

            function drawChart() {
                var data = {
                    Unleaded: records.unleaded,
                    Diesel: records.diesel,
                    SuperUnleaded: records.superUnleaded
                };
                driveTimeChart.render(data)
            };

            function eventHandler(eventType, data) {
                var unsaved = $('#divUnsavedChanges'),
                    recalc = function () {
                        busyloader.show({
                            message: 'Recalculating Daily Prices. Please wait...',
                            dull: true 
                        });

                        petrolPricingService.recalculateDailyPrices(successRecalculateDailyPrices, failureRecalculateDailyPrices)                    
                    };

                switch (eventType) {
                    case 'data-changed':
                        unsaved.delay(300).fadeIn(1000);
                        break;
                    case 'data-saved':
                        driveTimeChart.render(data);
                        unsaved.delay(200).fadeOut(300);

                        setTimeout(recalc, 1000);
                        break;
                }
            };

            function successRecalculateDailyPrices() {
                busyloader.hide();
                notify.success('Daily Prices Recalculated');
            };

            function failureRecalculateDailyPrices() {
                busyloader.hide();
                notify.error('Unable to Recalculate Daily Prices');
            };

            loadData();

            function docReady() {
                initChart();
                setupUI();
                redrawChart();
            };
        }
    );
</script>
